<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/neural-network/LSTM_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd
from matplotlib import pyplot

In [0]:
# Load data
defense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_defense.csv')

In [4]:
defense_df.head()

  player          first     last  ... 2019-game14 2019-game15  2019-game16
0     SF  San Francisco    49ers  ...           1           7            1
1    CHI        Chicago    Bears  ...           1           1            8
2    CIN     Cincinnati  Bengals  ...           1           1           12
3    BUF        Buffalo    Bills  ...          17           2            7
4    DEN         Denver  Broncos  ...           5           5            5

[5 rows x 325 columns]

In [26]:
column_names = ['game', 'points']
series_df = pd.DataFrame(columns = column_names)

for i in range (1, 321):
    game = i
    col = i + 4
    points = defense_df.iloc[:, col].loc[(defense_df['player']=='SF')].iloc[0]

    series_df = series_df.append({'game': game, 'points': points}, ignore_index=True)

series_df.tail()

      game  points
315  316.0     3.0
316  317.0    -3.0
317  318.0     1.0
318  319.0     7.0
319  320.0     1.0

In [29]:
series = pd.Series(series_df['points'].values, index=series_df['game'])
series

game
1.0     -1.0
2.0      1.0
3.0      2.0
4.0      9.0
5.0      2.0
        ...
316.0    3.0
317.0   -3.0
318.0    1.0
319.0    7.0
320.0    1.0
Length: 320, dtype: float64