<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Actuals_Defense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/players.csv')
defense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/defense.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/game.csv')

In [3]:
player_df.head()

  player          first     last                 name position1
0     SF  San Francisco    49ers  San Francisco 49ers        DF
1    CHI        Chicago    Bears        Chicago Bears        DF
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF
3    BUF        Buffalo    Bills        Buffalo Bills        DF
4    DEN         Denver  Broncos       Denver Broncos        DF

In [4]:
defense_df.head()

  team  week  2000  2001  2002  2003  ...  2014  2015  2016  2017  2018  2019
0  ARI     1     4     1   3.0     0  ...     2     4     6     9   5.0     5
1  ARI     2     7     2   5.0     1  ...     8    12    18     6   4.0     2
2  ARI     3     3    12   4.0     4  ...     3    24     8     1   7.0     4
3  ARI     4     3     6  13.0     3  ...     5     1     4     5   2.0     4
4  ARI     5     1     5  10.0     3  ...    16    13    13     3  20.0     1

[5 rows x 22 columns]

In [5]:
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the defense_db team points
def pull_stats(df1, df2, t, y, w, g):

    t_points = df1[y].loc[(df1['team']==t) & (df1['week']==g)].iloc[0]

    team_nameh = df2['h'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]
    team_namev = df2['v'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]

    if team_nameh == t:
        p_points = df2['ptsv'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]
    else:
        p_points = df2['ptsh'].loc[(df2['seas']==int(y)) & (df2['wk']==w) & ((df2['v']==t) | (df2['h']==t))].iloc[0]
    
    if p_points < 7:
        pa_points = 4
    if (p_points > 6) & (p_points < 14):
        pa_points = 3
    if (p_points > 13) & (p_points < 18):
        pa_points = 1
    if (p_points > 17) & (p_points < 28):
        pa_points = 0
    if (p_points > 27) & (p_points < 35): 
        pa_points = -1
    if (p_points > 34) & (p_points < 46):
        pa_points = -3
    if (p_points > 45):
        pa_points = -5

    d_points = t_points + pa_points

    return d_points

In [18]:
team = 'SF'
year = '2000'
week = 14
game = 13

weekly_dpoints = pull_stats(defense_df, game_df, team, year, week, game)
weekly_dpoints

19

In [8]:
player_df.head()

  player          first     last                 name position1
0     SF  San Francisco    49ers  San Francisco 49ers        DF
1    CHI        Chicago    Bears        Chicago Bears        DF
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF
3    BUF        Buffalo    Bills        Buffalo Bills        DF
4    DEN         Denver  Broncos       Denver Broncos        DF

In [0]:
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    '2000-game1': value_list[0], 
                    '2000-game2': value_list[1],
                    '2000-game3': value_list[2], 
                    '2000-game4': value_list[3], 
                    '2000-game5': value_list[4], 
                    '2000-game6': value_list[5], 
                    '2000-game7': value_list[6], 
                    '2000-game8': value_list[7], 
                    '2000-game9': value_list[8],
                    '2000-game10': value_list[9],
                    '2000-game11': value_list[10],
                    '2000-game12': value_list[11],
                    '2000-game13': value_list[12],
                    '2000-game14': value_list[13],
                    '2000-game15': value_list[14],
                    '2000-game16': value_list[15],
                    '2001-game1': value_list[16], 
                    '2001-game2': value_list[17],
                    '2001-game3': value_list[18], 
                    '2001-game4': value_list[19], 
                    '2001-game5': value_list[20], 
                    '2001-game6': value_list[21], 
                    '2001-game7': value_list[22], 
                    '2001-game8': value_list[23], 
                    '2001-game9': value_list[24],
                    '2001-game10': value_list[25],
                    '2001-game11': value_list[26],
                    '2001-game12': value_list[27],
                    '2001-game13': value_list[28],
                    '2001-game14': value_list[29],
                    '2001-game15': value_list[30],
                    '2001-game16': value_list[31],
                     }, ignore_index=True)
    
    return df

In [34]:
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                '2000-game1',
                '2000-game2',
                '2000-game3', 
                '2000-game4', 
                '2000-game5', 
                '2000-game6', 
                '2000-game7', 
                '2000-game8', 
                '2000-game9',
                '2000-game10',
                '2000-game11',
                '2000-game12',
                '2000-game13',
                '2000-game14',
                '2000-game15',
                '2000-game16',
                '2001-game1', 
                '2001-game2',
                '2001-game3', 
                '2001-game4', 
                '2001-game5', 
                '2001-game6', 
                '2001-game7', 
                '2001-game8', 
                '2001-game9',
                '2001-game10',
                '2001-game11',
                '2001-game12',
                '2001-game13',
                '2001-game14',
                '2001-game15',
                '2001-game16',
                '2002-game1',
                '2002-game2',
                '2002-game3', 
                '2002-game4', 
                '2002-game5', 
                '2002-game6', 
                '2002-game7', 
                '2002-game8', 
                '2002-game9',
                '2002-game10',
                '2002-game11',
                '2002-game12',
                '2002-game13',
                '2002-game14',
                '2002-game15',
                '2002-game16',
                '2003-game1', 
                '2003-game2',
                '2003-game3', 
                '2003-game4', 
                '2003-game5', 
                '2003-game6', 
                '2003-game7', 
                '2003-game8', 
                '2003-game9',
                '2003-game10',
                '2003-game11',
                '2003-game12',
                '2003-game13',
                '2003-game14',
                '2003-game15',
                '2003-game16',
                '2004-game1',
                '2004-game2',
                '2004-game3', 
                '2004-game4', 
                '2004-game5', 
                '2004-game6', 
                '2004-game7', 
                '2004-game8', 
                '2004-game9',
                '2004-game10',
                '2004-game11',
                '2004-game12',
                '2004-game13',
                '2004-game14',
                '2004-game15',
                '2004-game16',
                '2005-game1', 
                '2005-game2',
                '2005-game3', 
                '2005-game4', 
                '2005-game5', 
                '2005-game6', 
                '2005-game7', 
                '2005-game8', 
                '2005-game9',
                '2005-game10',
                '2005-game11',
                '2005-game12',
                '2005-game13',
                '2005-game14',
                '2005-game15',
                '2005-game16',
                '2006-game1',
                '2006-game2',
                '2006-game3', 
                '2006-game4', 
                '2006-game5', 
                '2006-game6', 
                '2006-game7', 
                '2006-game8', 
                '2006-game9',
                '2006-game10',
                '2006-game11',
                '2006-game12',
                '2006-game13',
                '2006-game14',
                '2006-game15',
                '2006-game16',
                '2007-game1', 
                '2007-game2',
                '2007-game3', 
                '2007-game4', 
                '2007-game5', 
                '2007-game6', 
                '2007-game7', 
                '2007-game8', 
                '2007-game9',
                '2007-game10',
                '2007-game11',
                '2007-game12',
                '2007-game13',
                '2007-game14',
                '2007-game15',
                '2007-game16',
                '2008-game1',
                '2008-game2',
                '2008-game3', 
                '2008-game4', 
                '2008-game5', 
                '2008-game6', 
                '2008-game7', 
                '2008-game8', 
                '2008-game9',
                '2008-game10',
                '2008-game11',
                '2008-game12',
                '2008-game13',
                '2008-game14',
                '2008-game15',
                '2008-game16',
                '2009-game1', 
                '2009-game2',
                '2009-game3', 
                '2009-game4', 
                '2009-game5', 
                '2009-game6', 
                '2009-game7', 
                '2009-game8', 
                '2009-game9',
                '2009-game10',
                '2009-game11',
                '2009-game12',
                '2009-game13',
                '2009-game14',
                '2009-game15',
                '2009-game16',
                '2010-game1',
                '2010-game2',
                '2010-game3', 
                '2010-game4', 
                '2010-game5', 
                '2010-game6', 
                '2010-game7', 
                '2010-game8', 
                '2010-game9',
                '2010-game10',
                '2010-game11',
                '2010-game12',
                '2010-game13',
                '2010-game14',
                '2010-game15',
                '2010-game16',
                '2011-game1', 
                '2011-game2',
                '2011-game3', 
                '2011-game4', 
                '2011-game5', 
                '2011-game6', 
                '2011-game7', 
                '2011-game8', 
                '2011-game9',
                '2011-game10',
                '2011-game11',
                '2011-game12',
                '2011-game13',
                '2011-game14',
                '2011-game15',
                '2011-game16',
                '2012-game1',
                '2012-game2',
                '2012-game3', 
                '2012-game4', 
                '2012-game5', 
                '2012-game6', 
                '2012-game7', 
                '2012-game8', 
                '2012-game9',
                '2012-game10',
                '2012-game11',
                '2012-game12',
                '2012-game13',
                '2012-game14',
                '2012-game15',
                '2012-game16',
                '2013-game1', 
                '2013-game2',
                '2013-game3', 
                '2013-game4', 
                '2013-game5', 
                '2013-game6', 
                '2013-game7', 
                '2013-game8', 
                '2013-game9',
                '2013-game10',
                '2013-game11',
                '2013-game12',
                '2013-game13',
                '2013-game14',
                '2013-game15',
                '2013-game16',
                '2014-game1',
                '2014-game2',
                '2014-game3', 
                '2014-game4', 
                '2014-game5', 
                '2014-game6', 
                '2014-game7', 
                '2014-game8', 
                '2014-game9',
                '2014-game10',
                '2014-game11',
                '2014-game12',
                '2014-game13',
                '2014-game14',
                '2014-game15',
                '2014-game16',
                '2015-game1', 
                '2015-game2',
                '2015-game3', 
                '2015-game4', 
                '2015-game5', 
                '2015-game6', 
                '2015-game7', 
                '2015-game8', 
                '2015-game9',
                '2015-game10',
                '2015-game11',
                '2015-game12',
                '2015-game13',
                '2015-game14',
                '2015-game15',
                '2015-game16',
                '2016-game1',
                '2016-game2',
                '2016-game3', 
                '2016-game4', 
                '2016-game5', 
                '2016-game6', 
                '2016-game7', 
                '2016-game8', 
                '2016-game9',
                '2016-game10',
                '2016-game11',
                '2016-game12',
                '2016-game13',
                '2016-game14',
                '2016-game15',
                '2016-game16',
                '2017-game1', 
                '2017-game2',
                '2017-game3', 
                '2017-game4', 
                '2017-game5', 
                '2017-game6', 
                '2017-game7', 
                '2017-game8', 
                '2017-game9',
                '2017-game10',
                '2017-game11',
                '2017-game12',
                '2017-game13',
                '2017-game14',
                '2017-game15',
                '2017-game16',
                '2018-game1',
                '2018-game2',
                '2018-game3', 
                '2018-game4', 
                '2018-game5', 
                '2018-game6', 
                '2018-game7', 
                '2018-game8', 
                '2018-game9',
                '2018-game10',
                '2018-game11',
                '2018-game12',
                '2018-game13',
                '2018-game14',
                '2018-game15',
                '2018-game16',
                '2019-game1',
                '2019-game2',
                '2019-game3', 
                '2019-game4', 
                '2019-game5', 
                '2019-game6', 
                '2019-game7', 
                '2019-game8', 
                '2019-game9',
                '2019-game10',
                '2019-game11',
                '2019-game12',
                '2019-game13',
                '2019-game14',
                '2019-game15',
                '2019-game16'
                 ]

player = 'SF'
first = 'San Francisco'
last = '49ers'
name = 'San Francisco 49ers'
position1 = 'DF'

team = 'SF'

final_df = pd.DataFrame(columns = column_names)
player_scores = []
bye = 0

for i in range(2000,2020):
    week = 0
    for j in range(1,17):
        year = i
        game = j
        week = week + 1

        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) & (game_df['v'].loc[(game_df['seas']==year) &
           (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            week = week + 1
            score = pull_stats(defense_df, game_df, team, str(year), week, game)
        else:
            score = pull_stats(defense_df, game_df, team, str(year), week, game)

        print(team, year, week, game, score)
        #player_scores.append(score)

player_scores

SF 2000 1 1 -1
SF 2000 2 2 1
SF 2000 3 3 2
SF 2000 4 4 9
SF 2000 5 5 2
SF 2000 6 6 4
SF 2000 7 7 1
SF 2000 8 8 2
SF 2000 9 9 3
SF 2000 10 10 3
SF 2000 11 11 8
SF 2000 12 12 16
SF 2000 14 13 19
SF 2000 15 14 4
SF 2000 16 15 8
SF 2000 17 16 1
SF 2001 1 1 5
SF 2001 2 2 6
SF 2001 3 3 5
SF 2001 4 4 8
SF 2001 5 5 3
SF 2001 7 6 15
SF 2001 8 7 6
SF 2001 9 8 3
SF 2001 10 9 0
SF 2001 11 10 17
SF 2001 12 11 14
SF 2001 13 12 8
SF 2001 14 13 20
SF 2001 15 14 9
SF 2001 16 15 3
SF 2001 17 16 17
SF 2002 1 1 12.0
SF 2002 2 2 6.0
SF 2002 3 3 12.0
SF 2002 5 4 14.0
SF 2002 6 5 5.0
SF 2002 7 6 2.0
SF 2002 8 7 10.0
SF 2002 9 8 3.0
SF 2002 10 9 6.0
SF 2002 11 10 4.0
SF 2002 12 11 -2.0
SF 2002 13 12 12.0
SF 2002 14 13 4.0
SF 2002 15 14 1.0
SF 2002 16 15 10.0
SF 2002 17 16 6.0
SF 2003 1 1 26
SF 2003 2 2 11
SF 2003 3 3 8
SF 2003 4 4 -1
SF 2003 5 5 5
SF 2003 6 6 6
SF 2003 7 7 13
SF 2003 8 8 4
SF 2003 9 9 14
SF 2003 11 10 7
SF 2003 12 11 7
SF 2003 13 12 2
SF 2003 14 13 10
SF 2003 15 14 -1
SF 2003 16 15 8
SF 2003 17 16 7
SF 2004 1 1 6
SF 2004 2 2 6
SF 2004 3 3 0
SF 2004 4 4 0
SF 2004 5 5 3
SF 2004 6 6 0
SF 2004 8 7 17
SF 2004 9 8 0
SF 2004 10 9 2
SF 2004 11 10 3
SF 2004 12 11 11
SF 2004 13 12 8
SF 2004 14 13 4
SF 2004 15 14 5
SF 2004 16 15 0
SF 2004 17 16 7
SF 2005 1 1 9
SF 2005 2 2 1
SF 2005 3 3 13
SF 2005 4 4 17
SF 2005 5 5 6
SF 2005 7 6 -4
SF 2005 8 7 16
SF 2005 9 8 0
SF 2005 10 9 5
SF 2005 11 10 1
SF 2005 12 11 7
SF 2005 13 12 9
SF 2005 14 13 0
SF 2005 15 14 5
SF 2005 16 15 5
SF 2005 17 16 11
SF 2006 1 1 4
SF 2006 2 2 11
SF 2006 3 3 2
SF 2006 4 4 -3
SF 2006 5 5 19
SF 2006 6 6 -5
SF 2006 8 7 -2
SF 2006 9 8 13
SF 2006 10 9 14
SF 2006 11 10 13
SF 2006 12 11 4
SF 2006 13 12 0
SF 2006 14 13 0
SF 2006 15 14 8
SF 2006 16 15 2
SF 2006 17 16 15
SF 2007 1 1 6
SF 2007 2 2 11
SF 2007 3 3 1
SF 2007 4 4 6
SF 2007 5 5 3
SF 2007 7 6 4
SF 2007 8 7 1
SF 2007 9 8 3
SF 2007 10 9 5
SF 2007 11 10 11
SF 2007 12 11 17
SF 2007 13 12 5
SF 2007 14 13 2
SF 2007 15 14 3
SF 2007 16 15 8
SF 2007 17 16 5
SF 2008 1 1 3.0
SF 2008 2 2 14.0
SF 2008 3 3 11.0
SF 2008 4 4 3.0
SF 2008 5 5 8.0
SF 2008 6 6 7.0
SF 2008 7 7 7.0
SF 2008 8 8 0.0
SF 2008 10 9 5.0
SF 2008 11 10 11.0
SF 2008 12 11 0.0
SF 2008 13 12 9.0
SF 2008 14 13 8.0
SF 2008 15 14 2.0
SF 2008 16 15 6.0
SF 2008 17 16 3.0
SF 2009 1 1 nan
SF 2009 2 2 10.0
SF 2009 3 3 3.0
SF 2009 4 4 16.0
SF 2009 5 5 28.0
SF 2009 7 6 4.0
SF 2009 8 7 4.0
SF 2009 9 8 2.0
SF 2009 10 9 5.0
SF 2009 11 10 9.0
SF 2009 12 11 6.0
SF 2009 13 12 10.0
SF 2009 14 13 10.0
SF 2009 15 14 20.0
SF 2009 16 15 8.0
SF 2009 17 16 18.0
SF 2010 1 1 2
SF 2010 2 2 2
SF 2010 3 3 1
SF 2010 4 4 16
SF 2010 5 5 6
SF 2010 6 6 9
SF 2010 7 7 13
SF 2010 8 8 9
SF 2010 10 9 3
SF 2010 11 10 2
SF 2010 12 11 9
SF 2010 13 12 3
SF 2010 14 13 17
SF 2010 15 14 0
SF 2010 16 15 3
SF 2010 17 16 19
SF 2011 1 1 12
SF 2011 2 2 5
SF 2011 3 3 8
SF 2011 4 4 8
SF 2011 5 5 19
SF 2011 6 6 7
SF 2011 8 7 11
SF 2011 9 8 11
SF 2011 10 9 5
SF 2011 11 10 15
SF 2011 12 11 1
SF 2011 13 12 12
SF 2011 14 13 8
SF 2011 15 14 15
SF 2011 16 15 9
SF 2011 17 16 9
SF 2012 1 1 5
SF 2012 2 2 4
SF 2012 3 3 4
SF 2012 4 4 23
SF 2012 5 5 9
SF 2012 6 6 2
SF 2012 7 7 8
SF 2012 8 8 10
SF 2012 10 9 4
SF 2012 11 10 15
SF 2012 12 11 21
SF 2012 13 12 3
SF 2012 14 13 7
SF 2012 15 14 10
SF 2012 16 15 0
SF 2012 17 16 9
SF 2013 1 1 5
SF 2013 2 2 7
SF 2013 3 3 1
SF 2013 4 4 12
SF 2013 5 5 19
SF 2013 6 6 11
SF 2013 7 7 6
SF 2013 8 8 11
SF 2013 10 9 10
SF 2013 11 10 5
SF 2013 12 11 12
SF 2013 13 12 8
SF 2013 14 13 7
SF 2013 15 14 7
SF 2013 16 15 11
SF 2013 17 16 5
SF 2014 1 1 18
SF 2014 2 2 2
SF 2014 3 3 2
SF 2014 4 4 9
SF 2014 5 5 3
SF 2014 6 6 14
SF 2014 7 7 -1
SF 2014 9 8 8
SF 2014 10 9 8
SF 2014 11 10 15
SF 2014 12 11 10
SF 2014 13 12 3
SF 2014 14 13 1
SF 2014 15 14 8
SF 2014 16 15 11
SF 2014 17 16 9
SF 2015 1 1 11
SF 2015 2 2 -3
SF 2015 3 3 0
SF 2015 4 4 6
SF 2015 5 5 1
SF 2015 6 6 6
SF 2015 7 7 9
SF 2015 8 8 2
SF 2015 9 9 3
SF 2015 11 10 3
SF 2015 12 11 1
SF 2015 13 12 9
SF 2015 14 13 8
SF 2015 15 14 6
SF 2015 16 15 1
SF 2015 17 16 3
SF 2016 1 1 10
SF 2016 2 2 4
SF 2016 3 3 3
SF 2016 4 4 2
SF 2016 5 5 2
SF 2016 6 6 4
SF 2016 7 7 3
SF 2016 9 8 -2
SF 2016 10 9 10
SF 2016 11 10 0
SF 2016 12 11 1
SF 2016 13 12 3
SF 2016 14 13 8
SF 2016 15 14 0
SF 2016 16 15 8
SF 2016 17 16 2
SF 2017 1 1 4
SF 2017 2 2 6
SF 2017 3 3 -3
SF 2017 4 4 8
SF 2017 5 5 6
SF 2017 6 6 5
SF 2017 7 7 -3
SF 2017 8 8 4
SF 2017 9 9 4
SF 2017 10 10 5
SF 2017 12 11 2
SF 2017 13 12 3
SF 2017 14 13 6
SF 2017 15 14 3
SF 2017 16 15 12
SF 2017 17 16 10
SF 2018 1 1 7.0
SF 2018 2 2 4.0
SF 2018 3 3 -1.0
SF 2018 4 4 8.0
SF 2018 5 5 0.0
SF 2018 6 6 2.0
SF 2018 7 7 -1.0
SF 2018 8 8 9.0
SF 2018 9 9 11.0
SF 2018 10 10 1.0
SF 2018 12 11 1.0
SF 2018 13 12 0.0
SF 2018 14 13 3.0
SF 2018 15 14 3.0
SF 2018 16 15 8.0
SF 2018 17 16 -5.0
SF 2019 1 1 24
SF 2019 2 2 7
SF 2019 3 3 6
SF 2019 5 4 14
SF 2019 6 5 9
SF 2019 7 6 9
SF 2019 8 7 16
SF 2019 9 8 3
SF 2019 10 9 19
SF 2019 11 10 14
SF 2019 12 11 10
SF 2019 13 12 3
SF 2019 14 13 -3
SF 2019 15 14 1
SF 2019 16 15 7
SF 2019 17 16 1

[]