<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Rookie_2019_Offense_Calc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the raw data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/offense.csv')
td_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/td.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/game.csv')

In [3]:
# The dataframe of all 2019 non-rookie offensive players and their rookie year
player_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [4]:
# The offense dataframe - raw offensive data for all 2019 QBs, RBs, WRs, TEs for seasons 2000-2019
offense_df.head()

    uid  gid  week   player   del first  ...    fp2    fp3 game  seas  year  team
0  3599  175    13  TB-2300  KEEP   Tom  ...   0.24   0.24    0     1  2000    NE
1  5841  284     2  TB-2300  KEEP   Tom  ...   2.74   2.74    0     2  2001    NE
2  6050  295     3  TB-2300  KEEP   Tom  ...   6.92   6.92    0     2  2001    NE
3  6330  308     4  TB-2300  KEEP   Tom  ...   0.34   2.34    0     2  2001    NE
4  6672  325     5  TB-2300  KEEP   Tom  ...  22.56  25.56    0     2  2001    NE

[5 rows x 36 columns]

In [5]:
# The touchdown dataframe - raw touchdown data for rushing, receiving and passing TD plays of 40 yards and greater.
td_df.head()

    pid      psr first_qb   last_qb  ...    first       last             name  type
0    75  CC-1400    Chris  Chandler  ...  Terance     Mathis   Terance Mathis   REC
1    98  CC-1400    Chris  Chandler  ...    Shawn  Jefferson  Shawn Jefferson   REC
2  1051  CM-2200     Cade    McNown  ...   Marcus   Robinson  Marcus Robinson   REC
3  1509  KC-2000    Kerry   Collins  ...     Tiki     Barber      Tiki Barber  RUSH
4  1819  TB-0200     Tony     Banks  ...    Qadry     Ismail     Qadry Ismail   REC

[5 rows x 19 columns]

In [6]:
# The game dataframe - raw game data to calculate bye weeks
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the player points
def pull_stats(df, df1, df2, col, p, y, g):

    if (df[col].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].empty):
        start_year = df1['start'].loc[(df1['name']==p)].iloc[0]
        if y < start_year:
            points = float('NaN')
        else:
            points = 0
    else:
        rush_tds = df['tdr'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_tds = df['tdrec'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_tds = df['tdp'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        return_tds = df['tdret'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0] 
        convs = df['conv'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_yds = df['ry'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_yds = df['recy'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_yds = df['py'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        ints = df['ints'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        fumbles = df['fuml'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_rec_td40 = df2['name'].loc[(df2['name']==p) & (df2['year']==y) & (df2['week']==g)].count()
        pass_td40 = df2['name_qb'].loc[(df2['name_qb']==p) & (df2['year']==y) & (df2['week']==g)].count()
        

        points = (rush_tds * 6) + \
                 (receive_tds * 6) + \
                 (pass_tds * 4) + \
                 (return_tds * 6) + \
                 (convs * 2) + \
                 (rush_yds / 10) + \
                 (receive_yds /10) + \
                 (pass_yds / 25) - \
                 (ints * 2) - \
                 (fumbles * 2) + \
                 (rush_rec_td40 * 2) + \
                 (pass_td40)

        #print('rush tds', rush_tds, 'rec tds', receive_tds, 'pass tds', pass_tds, 
        #      'return tds', return_tds, 'conversions', convs, 'rush yds', rush_yds, 
        #      'receive yds', receive_yds, 'pass yds', pass_yds, 'ints', ints, 'fumbles', fumbles,
        #       'rush/rec TD 40', rush_rec_td40, 'pass TD 40', pass_td40)

    return points

In [0]:
# Add a row to the final_df dataframe
# Each row represents the actual offensive points for each game for each offensive player
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    'game1': value_list[0], 
                    'game2': value_list[1],
                    'game3': value_list[2], 
                    'game4': value_list[3], 
                    'game5': value_list[4], 
                    'game6': value_list[5], 
                    'game7': value_list[6], 
                    'game8': value_list[7], 
                    'game9': value_list[8],
                    'game10': value_list[9],
                    'game11': value_list[10],
                    'game12': value_list[11],
                    'game13': value_list[12],
                    'game14': value_list[13],
                    'game15': value_list[14],
                    'game16': value_list[15]
                    }, ignore_index=True)
    
    return df

In [9]:
# The main code for iterating through the kicker list, calculating the points and adding the rows
# to the final_df dataframe.
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                'game1',
                'game2',
                'game3', 
                'game4', 
                'game5', 
                'game6', 
                'game7', 
                'game8', 
                'game9',
                'game10',
                'game11',
                'game12',
                'game13',
                'game14',
                'game15',
                'game16'
                ]

oplayers_df = player_df.loc[(player_df['position1'] == 'QB') |
                            (player_df['position1'] == 'RB') |
                            (player_df['position1'] == 'WR') |
                            (player_df['position1'] == 'TE')]
player_list = oplayers_df['name'].tolist()

final_df = pd.DataFrame(columns = column_names)

for player in player_list:

    first = player_df['first'].loc[(player_df['name']==player)].iloc[0]
    last = player_df['last'].loc[(player_df['name']==player)].iloc[0]
    name = player_df['name'].loc[(player_df['name']==player)].iloc[0]
    position1 = player_df['position1'].loc[(player_df['name']==player)].iloc[0]
    year = player_df['start'].loc[(player_df['name']==player)].iloc[0]

    print(player)

    for s in range(1, 17):
        if offense_df['team'].loc[(offense_df['name']==player) & (offense_df['seas']==s)].empty:
            x = 0
        else:
            team = offense_df['team'].loc[(offense_df['name']==player) & (offense_df['seas']==s)].iloc[0]
            break
    new_team = team

    player_scores = []

 
    week = 0
    for game in range(1,17):
        week = week + 1

        if (offense_df['team'].loc[(offense_df['name']==player) & (offense_df['year']==year) & (offense_df['week']==week)].empty):
            x = 0
        else:
            new_team = offense_df['team'].loc[(offense_df['name']==player) & (offense_df['year']==year) & (offense_df['week']==week)].iloc[0]
            
        if team != new_team:
            team = new_team

        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) &
            (game_df['v'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            week = week + 1
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)
        else:
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)

        player_scores.append(score)

    final_df = add_row(final_df, player, first, last, name, position1, player_scores)

David Blough
Dwayne Haskins
Devlin Hodges
Daniel Jones
Drew Lock
Gardner Minshew
Jarrett Stidham
Kyler Murray
Ryan Finley
Trace McSorley
Will Grier
Andrew Beck
Alec Ingold
Alexander Mattison
Benny Snell Jr.
Cullen Gillaspia
Damien Harris
Darrell Henderson
D'Ernest Johnson
David Montgomery
Devine Ozigbo
Devin Singletary
Darwin Thompson
Dexter Williams
Justice Hill
Jonathan Hilliman
Josh Jacobs
Jakob Johnson
Jordan Scarlett
Khari Blasingame
Kerrith Whyte Jr.
Myles Gaskin
Miles Sanders
Patrick Laird
Qadree Ollison
Ryquell Armstead
Tony Brooks-James
Travis Homer
Ty Johnson
Tony Pollard
Trevon Wesco
Wes Hills
Charles Jones
Dawson Knox
Drew Sample
Foster Moreau
Hale Hentges
Isaac Nauta
Irv Smith Jr.
Jesper Horsted
Josh Oliver
Jace Sternberger
Kaden Smith
Noah Fant
Stephen Carlson
T.J. Hockenson
Tommy Sweeney
Zach Gentry
A.J. Brown
Ashton Dulin
Alexander Hollins
Andy Isabella
Deonte Harris
Diontae Johnson
D.K. Metcalf
Deebo Samuel
Darrius Shepherd
Darius Slayton
Damion Willis
Greg Dortch
Gunner Olszewski
Hunter Renfrow
Ishmael Hyman
J.J. Arcega-Whiteside
Jalen Guyton
Jakobi Meyers
Jason Moore
Jeff Smith
John Ursua
Juwann Winfree
Keelan Doss
Kelvin Harmon
KeeSean Johnson
Lil'Jordan Humphrey
Miles Boykin
Marquise Brown
Mecole Hardman
Michael Walker
N'Keal Harry
Nsimba Webster
Olabisi Johnson
Olamide Zaccheaus
Parris Campbell
Preston Williams
Riley Ridley
Scott Miller
Stanley Morgan Jr.
Spencer Schnell
Steven Sims Jr.
Travis Fulgham
Terry McLaurin
Ventell Bryant

In [10]:
final_df.head(50)

                player      first          last  ... game14 game15 game16
0         David Blough      David        Blough  ...   8.30   8.68  11.88
1       Dwayne Haskins     Dwayne       Haskins  ...  20.04  14.32   0.00
2        Devlin Hodges     Devlin        Hodges  ...   4.48  -0.64   1.70
3         Daniel Jones     Daniel         Jones  ...   0.00  35.28  14.64
4            Drew Lock       Drew          Lock  ...   6.62  12.68  11.98
5      Gardner Minshew    Gardner       Minshew  ...  18.74  15.84  24.50
6      Jarrett Stidham    Jarrett       Stidham  ...   0.00   0.00   0.00
7         Kyler Murray      Kyler        Murray  ...  16.36  12.72  13.00
8          Ryan Finley       Ryan        Finley  ...   0.00   0.00   0.00
9       Trace McSorley      Trace      McSorley  ...   0.00   0.00   0.10
10          Will Grier       Will         Grier  ...   0.00   4.66  -3.34
11         Andrew Beck     Andrew          Beck  ...   1.30   0.64   6.80
12         Alec Ingold       Alec        Ingold  ...   2.20   0.00   0.00
13  Alexander Mattison  Alexander      Mattison  ...   0.00   0.00   0.00
14     Benny Snell Jr.      Benny     Snell Jr.  ...   0.10   1.40  15.10
15    Cullen Gillaspia     Cullen     Gillaspia  ...   0.00   0.00   0.00
16       Damien Harris     Damien        Harris  ...   0.00   0.00   0.00
17   Darrell Henderson    Darrell     Henderson  ...   0.00   0.70   0.00
18    D'Ernest Johnson   D'Ernest       Johnson  ...   0.00   0.00   0.00
19    David Montgomery      David    Montgomery  ...   4.90   5.90  17.30
20       Devine Ozigbo     Devine        Ozigbo  ...   0.00   0.00   5.00
21    Devin Singletary      Devin    Singletary  ...   6.90   4.80   0.00
22     Darwin Thompson     Darwin      Thompson  ...   3.90   1.40   1.30
23     Dexter Williams     Dexter      Williams  ...   0.00   0.00   0.90
24        Justice Hill    Justice          Hill  ...   1.50  11.10  10.90
25   Jonathan Hilliman   Jonathan      Hilliman  ...   0.00   0.00   0.00
26         Josh Jacobs       Josh        Jacobs  ...  10.90   0.00   0.00
27       Jakob Johnson      Jakob       Johnson  ...   0.00   0.00   0.00
28     Jordan Scarlett     Jordan      Scarlett  ...   0.00   0.00   0.00
29    Khari Blasingame      Khari    Blasingame  ...   0.00   0.00   0.70
30   Kerrith Whyte Jr.    Kerrith     Whyte Jr.  ...   0.50   2.20   0.10
31        Myles Gaskin      Myles        Gaskin  ...   7.20  11.80   0.00
32       Miles Sanders      Miles       Sanders  ...  29.20  21.60   5.10
33       Patrick Laird    Patrick         Laird  ...   5.40   1.80   6.90
34      Qadree Ollison     Qadree       Ollison  ...   6.10   6.30   0.90
35    Ryquell Armstead    Ryquell      Armstead  ...   0.10   0.20  14.50
36   Tony Brooks-James       Tony  Brooks-James  ...   0.00   0.00   0.00
37        Travis Homer     Travis         Homer  ...   0.70   4.20   9.20
38          Ty Johnson         Ty       Johnson  ...   0.00   2.00   6.50
39        Tony Pollard       Tony       Pollard  ...  22.30  -2.00   6.50
40        Trevon Wesco     Trevon         Wesco  ...   0.00   3.20   0.00
41           Wes Hills        Wes         Hills  ...  14.20   0.00   0.00
42       Charles Jones    Charles         Jones  ...   0.00   0.00   0.50
43         Dawson Knox     Dawson          Knox  ...   1.10   3.30   0.00
44         Drew Sample       Drew        Sample  ...   0.00   0.00   0.00
45       Foster Moreau     Foster        Moreau  ...   0.00   0.00   0.00
46        Hale Hentges       Hale       Hentges  ...   0.00   8.80   6.20
47         Isaac Nauta      Isaac         Nauta  ...   1.00   0.00   0.00
48       Irv Smith Jr.        Irv     Smith Jr.  ...   6.80   0.40   1.10
49      Jesper Horsted     Jesper       Horsted  ...  -1.10   2.00   0.00

[50 rows x 21 columns]

In [0]:
# Save the results to .csv file
final_df.to_csv('/content/actuals_rookie2019_offense.csv', index=False)