<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions/Predictions_Rookies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install category_encoders==2.0.0

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor


import category_encoders as ce

In [0]:
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie_kickers.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie_offense.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
actuals_df = pd.concat([kickers_df, offense_df], ignore_index=True)
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [4]:
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [5]:
actuals_df.head()

               player    first        last  ... game14 game15  game16
0      Adam Vinatieri     Adam   Vinatieri  ...    0.0    0.0     0.0
1         Matt Bryant     Matt      Bryant  ...   12.0    8.0     4.0
2        Robbie Gould   Robbie       Gould  ...    3.0    0.0     0.0
3         Mike Nugent     Mike      Nugent  ...    3.0   13.0     0.0
4  Stephen Gostkowski  Stephen  Gostkowski  ...    7.0   10.0    13.0

[5 rows x 21 columns]

In [6]:
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [7]:
actuals2019_df.head()

             player   first        last  ... game14 game15  game16
0          Matt Gay    Matt         Gay  ...    9.0  10.00    1.00
1  Chase McLaughlin   Chase  McLaughlin  ...    0.0   0.00    0.00
2    Austin Seibert  Austin     Seibert  ...    7.0   3.00    6.00
3         Joey Slye    Joey        Slye  ...    8.0   8.00    4.00
4      David Blough   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [0]:
# The main code for iterating through the player list, calculating the points and adding the rows
# to the final_df dataframe.
def fill_df(p_df, tf):
    column_names = ['player',
                    'position1',
                    'height',
                    'weight',
                    'forty',
                    'bench',
                    'vertical',
                    'broad',
                    'shuttle',
                    'cone',
                    'arm',
                    'hand',
                    'dpos',
                    'col',
                    'dv',
                    'points' 
                    ]

    player_list = p_df['name'].tolist()

    df = pd.DataFrame(columns = column_names)

    for player in player_list:

        position1 = player_df['position1'].loc[(player_df['name']==player)].iloc[0]
        height = player_df['height'].loc[(player_df['name']==player)].iloc[0]
        weight = player_df['weight'].loc[(player_df['name']==player)].iloc[0]
        forty = player_df['forty'].loc[(player_df['name']==player)].iloc[0]
        bench = player_df['bench'].loc[(player_df['name']==player)].iloc[0]
        vertical = player_df['vertical'].loc[(player_df['name']==player)].iloc[0]
        broad = player_df['broad'].loc[(player_df['name']==player)].iloc[0]
        shuttle = player_df['shuttle'].loc[(player_df['name']==player)].iloc[0]
        core = player_df['cone'].loc[(player_df['name']==player)].iloc[0]
        arm = player_df['arm'].loc[(player_df['name']==player)].iloc[0]
        hand = player_df['hand'].loc[(player_df['name']==player)].iloc[0]
        dpos = player_df['dpos'].loc[(player_df['name']==player)].iloc[0]
        college = player_df['col'].loc[(player_df['name']==player)].iloc[0]
        division = player_df['dv'].loc[(player_df['name']==player)].iloc[0]
        if tf == 'train':
            points = actuals_df.loc[(actuals_df['name']==player)].iloc[0, 5:21].sum()
        else:
            points = actuals2019_df.loc[(actuals2019_df['name']==player)].iloc[0, 5:21].sum()

        df = df.append({'player': player,
                        'position1': position1,
                        'height': height,
                        'weight': weight,
                        'forty': forty,
                        'bench': bench,
                        'vertical': vertical,
                        'broad': broad,
                        'shuttle': shuttle,
                        'cone': core,
                        'arm': arm,
                        'hand': hand,
                        'dpos': dpos,
                        'col': college,
                        'dv': division,
                        'points': points 
                        }, ignore_index=True)
        
    return df

In [0]:
train_df = fill_df(actuals_df, 'train')
test_df = fill_df(rookies_df, 'final')

In [10]:
train_df.tail()

              player position1  ...                  dv  points
510  Steven Mitchell        WR  ...          Pacific 12     0.0
511       Trey Quinn        WR  ...   American Athletic    13.5
512  Trent Sherfield        WR  ...  Southeastern (SEC)    27.0
513   Tre'Quan Smith        WR  ...   American Athletic    74.7
514    Vyncint Smith        WR  ...                   0    15.1

[5 rows x 16 columns]

In [11]:
test_df.tail()

              player position1  ...                      dv  points
101  Spencer Schnell        WR  ...         Missouri Valley     0.0
102  Steven Sims Jr.        WR  ...                  Big 12    77.5
103   Travis Fulgham        WR  ...  Conference USA (C-USA)     0.0
104   Terry McLaurin        WR  ...                 Big Ten   137.9
105   Ventell Bryant        WR  ...       American Athletic     7.5

[5 rows x 16 columns]

In [0]:
target = 'points'
X_train = train_df.drop(columns=[target])
y_train = train_df[target]
X_test = test_df.drop(columns=[target])
y_test = test_df[target]

In [0]:
# Split the initial train features and labels 80/20 into train and validate
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size = 0.80, test_size = 0.20)

In [14]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    XGBRegressor(n_estimators=200, n_jobs=-1)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_val)

# Print metrics for validation 
val_mse = mean_squared_error(y_val, y_pred)
val_rmse = np.sqrt(val_mse)
val_mae = mean_absolute_error(y_val, y_pred)
val_r2 = r2_score(y_val, y_pred)
print('Validation Mean Absolute Error:', val_mae)
print('Validation R^2:', val_r2)
print('\n')

ty_pred = pipeline.predict(X_test)

# Print metrics for test
test_mse = mean_squared_error(y_test, ty_pred)
test_rmse = np.sqrt(test_mse)
test_mae = mean_absolute_error(y_test, ty_pred)
test_r2 = r2_score(y_test, ty_pred)
print('Test Mean Absolute Error:', test_mae)
print('Test R^2:', test_r2)

[16:42:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Validation Mean Absolute Error: 34.62214418633471
Validation R^2: 0.469816991977685


Test Mean Absolute Error: 33.30247240624338
Test R^2: 0.37285166658589286

In [15]:
final_df = test_df.copy()
final_df = final_df.reset_index()
final_df['prediction'] = ty_pred
final_df.head()

   index            player position1  ...                    dv  points  prediction
0      0          Matt Gay         K  ...            Pacific 12  140.00   83.037445
1      1  Chase McLaughlin         K  ...               Big Ten   87.00   33.913445
2      2    Austin Seibert         K  ...                Big 12  112.00   93.434433
3      3         Joey Slye         K  ...  Atlantic Coast (ACC)  124.00   39.629436
4      4      David Blough        QB  ...               Big Ten   55.36   15.551867

[5 rows x 18 columns]