<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions/Predictions_Rookies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install category_encoders==2.0.0

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor


import category_encoders as ce

In [0]:
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie_kickers.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie_offense.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
actuals_df = pd.concat([kickers_df, offense_df], ignore_index=True)
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [4]:
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [5]:
actuals_df.head()

    player    first        last  ... game14 game15  game16
0  AV-0400     Adam   Vinatieri  ...    0.0    0.0     0.0
1  MB-4600     Matt      Bryant  ...   12.0    8.0     4.0
2  RG-1500   Robbie       Gould  ...    3.0    0.0     0.0
3  MN-0800     Mike      Nugent  ...    3.0   13.0     0.0
4  SG-0800  Stephen  Gostkowski  ...    7.0   10.0    13.0

[5 rows x 21 columns]

In [6]:
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [7]:
actuals2019_df.head()

    player   first        last  ... game14 game15  game16
0  MG-0306    Matt         Gay  ...    9.0  10.00    1.00
1  CM-2137   Chase  McLaughlin  ...    0.0   0.00    0.00
2  AS-0575  Austin     Seibert  ...    7.0   3.00    6.00
3  JS-3825    Joey        Slye  ...    8.0   8.00    4.00
4  DB-2750   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [0]:
# The main code for iterating through the player list, calculating the points and adding the rows
# to the final_df dataframe.
def fill_df(p_df, tf):
    column_names = ['player',
                    'position1',
                    'height',
                    'weight',
                    'forty',
                    'bench',
                    'vertical',
                    'broad',
                    'shuttle',
                    'cone',
                    'arm',
                    'hand',
                    'dpos',
                    'col',
                    'dv',
                    'points' 
                    ]

    player_list = p_df['player'].tolist()

    df = pd.DataFrame(columns = column_names)

    for player in player_list:

        position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
        height = player_df['height'].loc[(player_df['player']==player)].iloc[0]
        weight = player_df['weight'].loc[(player_df['player']==player)].iloc[0]
        forty = player_df['forty'].loc[(player_df['player']==player)].iloc[0]
        bench = player_df['bench'].loc[(player_df['player']==player)].iloc[0]
        vertical = player_df['vertical'].loc[(player_df['player']==player)].iloc[0]
        broad = player_df['broad'].loc[(player_df['player']==player)].iloc[0]
        shuttle = player_df['shuttle'].loc[(player_df['player']==player)].iloc[0]
        core = player_df['cone'].loc[(player_df['player']==player)].iloc[0]
        arm = player_df['arm'].loc[(player_df['player']==player)].iloc[0]
        hand = player_df['hand'].loc[(player_df['player']==player)].iloc[0]
        dpos = player_df['dpos'].loc[(player_df['player']==player)].iloc[0]
        college = player_df['col'].loc[(player_df['player']==player)].iloc[0]
        division = player_df['dv'].loc[(player_df['player']==player)].iloc[0]
        if tf == 'train':
            points = actuals_df.loc[(actuals_df['player']==player)].iloc[0, 5:21].sum()
        else:
            points = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, 5:21].sum()

        df = df.append({'player': player,
                        'position1': position1,
                        'height': height,
                        'weight': weight,
                        'forty': forty,
                        'bench': bench,
                        'vertical': vertical,
                        'broad': broad,
                        'shuttle': shuttle,
                        'cone': core,
                        'arm': arm,
                        'hand': hand,
                        'dpos': dpos,
                        'col': college,
                        'dv': division,
                        'points': points 
                        }, ignore_index=True)
        
    return df

In [0]:
train_df = fill_df(actuals_df, 'train')
test_df = fill_df(rookies_df, 'final')

In [10]:
train_df.tail()

      player position1  height  ...              col                  dv  points
510  SM-2825        WR    70.0  ...              USC          Pacific 12     0.0
511  TQ-0100        WR    71.0  ...              SMU   American Athletic    13.5
512  TS-1425        WR    72.0  ...       Vanderbilt  Southeastern (SEC)    27.0
513  TS-2425        WR    74.0  ...  Central Florida   American Athletic    74.7
514  VS-0175        WR    75.0  ...        Limestone                   0    15.1

[5 rows x 16 columns]

In [11]:
test_df.tail()

      player position1  height  ...             col                      dv  points
101  SS-0650        WR    68.0  ...  Illinois State         Missouri Valley     0.0
102  SS-1537        WR    69.0  ...          Kansas                  Big 12    77.5
103  TF-1450        WR    74.0  ...    Old Dominion  Conference USA (C-USA)     0.0
104  TM-2275        WR    72.0  ...      Ohio State                 Big Ten   137.9
105  VB-0325        WR    75.0  ...          Temple       American Athletic     7.5

[5 rows x 16 columns]

In [0]:
target = 'points'
X_train = train_df.drop(columns=[target])
y_train = train_df[target]
X_test = test_df.drop(columns=[target])
y_test = test_df[target]

In [0]:
# Split the initial train features and labels 80/20 into train and validate
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size = 0.80, test_size = 0.20)

In [14]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    XGBRegressor(n_estimators=200, n_jobs=-1)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_val)

# Print metrics for validation 
val_mse = mean_squared_error(y_val, y_pred)
val_rmse = np.sqrt(val_mse)
val_mae = mean_absolute_error(y_val, y_pred)
val_r2 = r2_score(y_val, y_pred)
print('Validation Mean Absolute Error:', val_mae)
print('Validation R^2:', val_r2)
print('\n')

ty_pred = pipeline.predict(X_test)

# Print metrics for test
test_mse = mean_squared_error(y_test, ty_pred)
test_rmse = np.sqrt(test_mse)
test_mae = mean_absolute_error(y_test, ty_pred)
test_r2 = r2_score(y_test, ty_pred)
print('Test Mean Absolute Error:', test_mae)
print('Test R^2:', test_r2)

[15:52:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Validation Mean Absolute Error: 36.07014687769621
Validation R^2: 0.22983390645590385


Test Mean Absolute Error: 32.70727375471367
Test R^2: 0.3710756132458516

In [19]:
final_df = test_df
# The final_df dataframe
final_df['prediction'] = ty_pred
final_df.head(50)

     player position1  height  ...                      dv  points  prediction
0   MG-0306         K    72.0  ...              Pacific 12  140.00   47.157749
1   CM-2137         K    73.0  ...                 Big Ten   87.00   31.719452
2   AS-0575         K    69.0  ...                  Big 12  112.00   69.943565
3   JS-3825         K    71.0  ...    Atlantic Coast (ACC)  124.00   55.463665
4   DB-2750        QB    72.0  ...                 Big Ten   55.36   -5.486490
5   DH-1912        QB    75.0  ...                 Big Ten   79.70  100.737839
6   DH-3450        QB    73.0  ...                Southern   52.32   10.996941
7   DJ-2275        QB    77.0  ...    Atlantic Coast (ACC)  217.98  143.273483
8   DL-1787        QB    76.0  ...      Southeastern (SEC)   68.00   77.191322
9   GM-1350        QB    73.0  ...              Pacific 12  232.24   34.798237
10  JS-6787        QB    74.0  ...      Southeastern (SEC)   -1.64   83.099045
11  KM-3500        QB    70.0  ...                  Big 12  288.28  157.890884
12  RF-0450        QB    76.0  ...    Atlantic Coast (ACC)   24.66   52.027828
13  TM-2362        QB    72.0  ...                 Big Ten    0.10   25.508209
14  WG-0750        QB    74.0  ...                  Big 12    1.32   54.573860
15  AB-1125        RB    75.0  ...                  Big 12   15.54    6.326121
16  AI-0050        RB    73.0  ...                 Big Ten   12.10   19.510122
17  AM-0825        RB    71.0  ...     Mountain West (MWC)   58.40   48.110287
18  BS-2950        RB    70.0  ...      Southeastern (SEC)   54.90   34.482563
19  CG-1015        RB    74.0  ...      Southeastern (SEC)    0.00   16.250553
20  DH-1362        RB    70.0  ...      Southeastern (SEC)    1.20   50.265873
21  DH-2325        RB    68.0  ...       American Athletic   18.40   73.975479
22  DJ-0887        RB    70.0  ...       American Athletic    9.20   20.937283
23  DM-2787        RB    70.0  ...                  Big 12  145.40   65.729698
24  DO-0600        RB    71.0  ...                 Big Ten    5.00   16.711628
25  DS-2177        RB    67.0  ...  Conference USA (C-USA)  118.90   61.828018
26  DT-1231        RB    69.0  ...     Mountain West (MWC)   23.10   19.510830
27  DW-3906        RB    71.0  ...        FBS Independents    1.10   34.329826
28  JH-4085        RB    70.0  ...                  Big 12   41.50   56.020226
29  JH-4250        RB    72.0  ...                 Big Ten    5.20   31.154533
30  JJ-0587        RB    70.0  ...      Southeastern (SEC)  171.60   81.147873
31  JJ-2518        RB    75.0  ...      Southeastern (SEC)    0.50   11.871300
32  JS-0825        RB    71.0  ...      Southeastern (SEC)    0.90   28.928673
33  KB-1225        RB    72.0  ...      Southeastern (SEC)    5.40   38.670311
34  KW-0922        RB    70.0  ...  Conference USA (C-USA)   13.10   22.107531
35  MG-0293        RB    69.0  ...              Pacific 12   24.40   18.093182
36  MS-0125        RB    71.0  ...                 Big Ten  170.70   73.811203
37  PL-0012        RB    72.0  ...              Pacific 12   45.20   23.307606
38  QO-0200        RB    73.0  ...    Atlantic Coast (ACC)   29.70   42.298382
39  RA-1337        RB    71.0  ...       American Athletic   37.20   39.783379
40  TB-2775        RB    69.0  ...              Pacific 12    2.70   21.541500
41  TH-2337        RB    70.0  ...    Atlantic Coast (ACC)   17.00   34.048740
42  TJ-2275        RB    70.0  ...                 Big Ten   36.20   27.282389
43  TP-1650        RB    72.0  ...       American Athletic   76.20   40.789001
44  TW-1325        RB    75.0  ...                  Big 12    4.90   36.271049
45  WH-0762        RB    73.0  ...                       0   14.20   31.943794
46  CJ-2075        TE    75.0  ...       American Athletic    0.50    4.689760
47  DK-0950        TE    76.0  ...      Southeastern (SEC)   51.70   28.638395
48  DS-0050        TE    77.0  ...              Pacific 12    3.00   57.895092
49  FM-0675        TE    76.0  ...      Southeastern (SEC)   47.40   20.774111

[50 rows x 17 columns]