<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/Rookie_Offense_Calc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the raw data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies_non_offense.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/offense.csv')
td_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/td.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/game.csv')

In [3]:
# The dataframe of all 2019 non-rookie offensive players and their rookie year
player_df.head()

    player first            last                name position1  start
0  TB-2300   Tom           Brady           Tom Brady        QB   2000
1  DB-3800  Drew           Brees          Drew Brees        QB   2001
2  JM-2900  Josh          McCown         Josh McCown        QB   2002
3  BR-1100   Ben  Roethlisberger  Ben Roethlisberger        QB   2004
4  EM-0200   Eli         Manning         Eli Manning        QB   2004

In [4]:
# The offense dataframe - raw offensive data for all 2019 QBs, RBs, WRs, TEs for seasons 2000-2019
offense_df.head()

    uid  gid  week   player   del first  ...    fp2    fp3 game  seas  year  team
0  3599  175    13  TB-2300  KEEP   Tom  ...   0.24   0.24    0     1  2000    NE
1  5841  284     2  TB-2300  KEEP   Tom  ...   2.74   2.74    0     2  2001    NE
2  6050  295     3  TB-2300  KEEP   Tom  ...   6.92   6.92    0     2  2001    NE
3  6330  308     4  TB-2300  KEEP   Tom  ...   0.34   2.34    0     2  2001    NE
4  6672  325     5  TB-2300  KEEP   Tom  ...  22.56  25.56    0     2  2001    NE

[5 rows x 36 columns]

In [5]:
# The touchdown dataframe - raw touchdown data for rushing, receiving and passing TD plays of 40 yards and greater.
td_df.head()

    pid      psr first_qb   last_qb  ...    first       last             name  type
0    75  CC-1400    Chris  Chandler  ...  Terance     Mathis   Terance Mathis   REC
1    98  CC-1400    Chris  Chandler  ...    Shawn  Jefferson  Shawn Jefferson   REC
2  1051  CM-2200     Cade    McNown  ...   Marcus   Robinson  Marcus Robinson   REC
3  1509  KC-2000    Kerry   Collins  ...     Tiki     Barber      Tiki Barber  RUSH
4  1819  TB-0200     Tony     Banks  ...    Qadry     Ismail     Qadry Ismail   REC

[5 rows x 19 columns]

In [6]:
# The game dataframe - raw game data to calculate bye weeks
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the player points
def pull_stats(df, df1, df2, col, p, y, g):

    if (df[col].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].empty):
        start_year = df1['start'].loc[(df1['name']==p)].iloc[0]
        if y < start_year:
            points = float('NaN')
        else:
            points = 0
    else:
        rush_tds = df['tdr'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_tds = df['tdrec'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_tds = df['tdp'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        return_tds = df['tdret'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0] 
        convs = df['conv'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_yds = df['ry'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_yds = df['recy'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_yds = df['py'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        ints = df['ints'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        fumbles = df['fuml'].loc[(df['name']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_rec_td40 = df2['name'].loc[(df2['name']==p) & (df2['year']==y) & (df2['week']==g)].count()
        pass_td40 = df2['name_qb'].loc[(df2['name_qb']==p) & (df2['year']==y) & (df2['week']==g)].count()
        

        points = (rush_tds * 6) + \
                 (receive_tds * 6) + \
                 (pass_tds * 4) + \
                 (return_tds * 6) + \
                 (convs * 2) + \
                 (rush_yds / 10) + \
                 (receive_yds /10) + \
                 (pass_yds / 25) - \
                 (ints * 2) - \
                 (fumbles * 2) + \
                 (rush_rec_td40 * 2) + \
                 (pass_td40)

        #print('rush tds', rush_tds, 'rec tds', receive_tds, 'pass tds', pass_tds, 
        #      'return tds', return_tds, 'conversions', convs, 'rush yds', rush_yds, 
        #      'receive yds', receive_yds, 'pass yds', pass_yds, 'ints', ints, 'fumbles', fumbles,
        #       'rush/rec TD 40', rush_rec_td40, 'pass TD 40', pass_td40)

    return points

In [0]:
# Add a row to the final_df dataframe
# Each row represents the actual offensive points for each game for each offensive player
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    'game1': value_list[0], 
                    'game2': value_list[1],
                    'game3': value_list[2], 
                    'game4': value_list[3], 
                    'game5': value_list[4], 
                    'game6': value_list[5], 
                    'game7': value_list[6], 
                    'game8': value_list[7], 
                    'game9': value_list[8],
                    'game10': value_list[9],
                    'game11': value_list[10],
                    'game12': value_list[11],
                    'game13': value_list[12],
                    'game14': value_list[13],
                    'game15': value_list[14],
                    'game16': value_list[15]
                    }, ignore_index=True)
    
    return df

In [9]:
# The main code for iterating through the kicker list, calculating the points and adding the rows
# to the final_df dataframe.
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                'game1',
                'game2',
                'game3', 
                'game4', 
                'game5', 
                'game6', 
                'game7', 
                'game8', 
                'game9',
                'game10',
                'game11',
                'game12',
                'game13',
                'game14',
                'game15',
                'game16'
                ]

oplayers_df = player_df.loc[(player_df['position1'] == 'QB') |
                            (player_df['position1'] == 'RB') |
                            (player_df['position1'] == 'WR') |
                            (player_df['position1'] == 'TE')]
player_list = oplayers_df['name'].tolist()

final_df = pd.DataFrame(columns = column_names)

for player in player_list:

    first = player_df['first'].loc[(player_df['name']==player)].iloc[0]
    last = player_df['last'].loc[(player_df['name']==player)].iloc[0]
    name = player_df['name'].loc[(player_df['name']==player)].iloc[0]
    position1 = player_df['position1'].loc[(player_df['name']==player)].iloc[0]
    year = player_df['start'].loc[(player_df['name']==player)].iloc[0]

    print(player)

    for s in range(1, 17):
        if offense_df['team'].loc[(offense_df['name']==player) & (offense_df['seas']==s)].empty:
            x = 0
        else:
            team = offense_df['team'].loc[(offense_df['name']==player) & (offense_df['seas']==s)].iloc[0]
            break
    new_team = team

    player_scores = []

 
    week = 0
    for game in range(1,17):
        week = week + 1

        if (offense_df['team'].loc[(offense_df['name']==player) & (offense_df['year']==year) & (offense_df['week']==week)].empty):
            x = 0
        else:
            new_team = offense_df['team'].loc[(offense_df['name']==player) & (offense_df['year']==year) & (offense_df['week']==week)].iloc[0]
            
        if team != new_team:
            team = new_team

        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) &
            (game_df['v'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            week = week + 1
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)
        else:
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)

        player_scores.append(score)

    final_df = add_row(final_df, player, first, last, name, position1, player_scores)

Tom Brady
Drew Brees
Josh McCown
Ben Roethlisberger
Eli Manning
Matt Schaub
Philip Rivers
Aaron Rodgers
Ryan Fitzpatrick
Matt Moore
Joe Flacco
Matt Ryan
Brian Hoyer
Chase Daniel
Matthew Stafford
Colt McCoy
Andy Dalton
Cam Newton
Tyrod Taylor
Alex Tanney
Case Keenum
Kirk Cousins
Nick Foles
Robert Griffin
Ryan Tannehill
Russell Wilson
Matt Barkley
Mike Glennon
Ryan Griffin
A.J. McCarron
Blake Bortles
Derek Carr
Garrett Gilbert
Jimmy Garoppolo
Teddy Bridgewater
Brett Hundley
Jameis Winston
Marcus Mariota
Sean Mannion
Trevor Siemian
Brandon Allen
Carson Wentz
Dak Prescott
Jacoby Brissett
Jeff Driskel
Jared Goff
Deshaun Watson
Mitchell Trubisky
Nick Mullens
Patrick Mahomes
Taysom Hill
Baker Mayfield
Josh Allen
Josh Rosen
Kyle Allen
Luke Falk
Lamar Jackson
Mason Rudolph
Sam Darnold
Tim Boyle
Darren Sproles
Frank Gore
Adrian Peterson
Marshawn Lynch
LeSean McCoy
James Develin
Anthony Sherman
Bilal Powell
Dion Lewis
Mark Ingram
Nick Bellore
Patrick DiMarco
Taiwan Jones
Alfred Morris
Brandon Bolden
Jamize Olawale
C.J. Anderson
Chris Thompson
Giovani Bernard
Kenjon Barner
Kyle Juszczyk
Le'Veon Bell
Latavius Murray
Rex Burkhead
Spencer Ware
Zach Line
Carlos Hyde
Devonta Freeman
Damien Williams
James White
Keith Smith
Roosevelt Nix
Senorise Perry
Ameer Abdullah
David Johnson
Duke Johnson
Jay Ajayi
Javorius Allen
Malcolm Brown
Mike Burton
Mike Davis
Melvin Gordon
Raheem Mostert
Tevin Coleman
Todd Gurley
Ty Montgomery
T.J. Yeldon
Zach Zenner
Andy Janovich
C.J. Ham
C.J. Prosise
Devontae Booker
D.J. Foster
Derrick Henry
Dan Vitale
DeAndre Washington
Dwayne Washington
Derek Watt
Ezekiel Elliott
Elijhaa Penny
Josh Ferguson
Jordan Howard
Jalen Richard
Jonathan Williams
Kenyan Drake
Peyton Barber
Paul Perkins
Tra Carson
Tyler Ervin
Troymaine Pope
Wendell Smallwood
Alex Armah
Austin Ekeler
Aaron Jones
Alvin Kamara
Brian Hill
Chris Carson
Corey Clement
Christian McCaffrey
Dalvin Cook
Dare Ogunbowale
James Conner
Joe Mixon
Jamaal Williams
Kareem Hunt
Leonard Fournette
Matt Breida
Marlon Mack
Patrick Ricard
Ricky Ortiz
Samaje Perine
Tarik Cohen
Trey Edmunds
T.J. Logan
Wayne Gallman
Bo Scarbrough
Boston Scott
Chase Edmonds
Dalyn Dawkins
Derrius Guice
Dontrell Hilliard
De'Lance Turner
Darrel Williams
Gus Edwards
Gregory Howell
Ito Smith
Josh Adams
Justin Jackson
John Kelly
Jaylen Samuels
Jordan Wilkins
Jeff Wilson
Kalen Ballage
Kerryon Johnson
Mike Boone
Mark Walton
Nick Bawden
Nick Chubb
Nyheim Hines
Phillip Lindsay
Reggie Bonnafon
Royce Freeman
Ronald Jones
Ray-Ray McCloud
Ryan Nall
Rashaad Penny
Saquon Barkley
Sony Michel
Trenton Cannon
Jason Witten
Benjamin Watson
Delanie Walker
Marcedes Lewis
Vernon Davis
Greg Olsen
Jared Cook
Jimmy Graham
Charles Clay
Kyle Rudolph
Lance Kendricks
Lee Smith
Luke Stocker
Virgil Green
Derek Carrier
Garrett Celek
Rhett Ellison
Darren Fells
Demetrius Harris
Jack Doyle
Josh Hill
Levine Toilolo
Luke Willson
Ryan Griffin
Tyler Eifert
Travis Kelce
Vance McDonald
Zach Ertz
Cameron Brate
Chris Manhertz
Eric Ebron
Logan Thomas
Scott Simonson
Trey Burton
Xavier Grimble
Blake Bell
Ben Koyack
C.J. Uzomah
Clive Walford
Daniel Brown
Darren Waller
Eric Tomlinson
Geoff Swaim
Jeff Heuerman
Jesse James
James O'Shaughnessy
Matt LaCosse
MyCole Pruitt
Maxx Williams
Nick Boyle
Nick O'Leary
Ross Travis
Tyler Kroft
Austin Hooper
Ben Braunecker
Hunter Henry
J.P. Holtz
Josh Perkins
Jason Vander Laan
Nick Vannett
Seth DeValve
Tyler Higbee
Antony Auclair
Anthony Firkser
Adam Shaheen
Blake Jarwin
Cethan Carter
Dan Arnold
Darrell Daniels
David Njoku
Evan Engram
Eric Saubert
Gerald Everett
George Kittle
Jacob Hollister
Johnny Mundt
Jonnu Smith
Jeremy Sprinkle
Mo Alie-Cox
O.J. Howard
Pharaoh Brown
Ricky Seals-Jones
Robert Tonyan Jr.
Sean Culkin
Tyrone Swoopes
Chris Herndon
Dallas Goedert
Dalton Schultz
Durham Smythe
Deon Yelder
Hayden Hurst
Ian Thomas
Jordan Akins
Jaeden Graham
Jordan Thomas
Mark Andrews
Mike Gesicki
Ross Dwelley
Ryan Izzo
Tyler Conklin
Troy Fumagalli
Tanner Hudson
Will Dissly
Larry Fitzgerald
Ted Ginn
Danny Amendola
DeSean Jackson
Matthew Slater
Julian Edelman
Michael Crabtree
Antonio Brown
Andre Roberts
Demaryius Thomas
Emmanuel Sanders
Golden Tate
Chris Hogan
Dwayne Harris
Dontrelle Inman
Julio Jones
Randall Cobb
Alshon Jeffery
Cole Beasley
Josh Bellamy
Josh Gordon
Jarius Wright
Marvin Jones
Mohamed Sanu
Travis Benjamin
T.Y. Hilton
Adam Thielen
Cordarrelle Patterson
DeAndre Hopkins
Jaron Brown
Keenan Allen
Kenny Stills
Marquise Goodwin
Russell Shepard
Robert Woods
Tavon Austin
Allen Hurns
Allen Robinson
Albert Wilson
Brandin Cooks
Bennie Fowler
Cody Latimer
Davante Adams
Donte Moncrief
Diontae Spencer
De'Anthony Thomas
John Brown
Jarvis Landry
Jordan Matthews
Mike Evans
Marqise Lee
Odell Beckham Jr.
Paul Richardson
Quincy Enunwa
Ryan Grant
Seth Roberts
Sammy Watkins
Taylor Gabriel
T.J. Jones
Willie Snead
Amari Cooper
Adam Humphries
Breshad Perriman
Chris Conley
Damiere Byrd
DeAndre Carter
Devin Funchess
Darius Jennings
DeVante Parker
Devin Smith
DeAndrew White
Geremy Davis
Jamison Crowder
Justin Hardy
Jake Kumerow
J.J. Nelson
Nelson Agholor
Phillip Dorsett
Stefon Diggs
Tyler Lockett
Tyrell Williams
Alex Erickson
Cody Core
Chris Moore
Chester Rogers
Demarcus Robinson
D'haquille Williams
Geronimo Allison
Jakeem Grant
Johnny Holton
J.D. McKissic
Jaydon Mickens
Kalif Raymond
Laquon Treadwell
Marvin Hall
Marcus Johnson
Michael Thomas
Mike Thomas
Pharoh Cooper
Robby Anderson
Rashard Higgins
Sterling Shepard
Tyler Boyd
Trevor Davis
Tyreek Hill
Tevin Jones
Tajae Sharpe
Will Fuller
Austin Carr
Andre Patton
Bobo Wilson
C.J. Board
Corey Davis
Chris Godwin
Cyril Grayson
Cody Hollister
Cooper Kupp
Curtis Samuel
Chad Williams
David Moore
Dede Westbrook
Fred Brown
Greg Ward Jr.
Isaiah Ford
Isaiah McKenzie
JoJo Natson
Josh Reynolds
John Ross
Juju Smith-Schuster
Kendrick Bourne
Keelan Cole
Kenny Golladay
Krishawn Hogan
Mack Hollins
Mike Williams
Rashard Davis
Robert Davis
Ryan Switzer
Tim Patrick
Taywan Taylor
Zay Jones
Zach Pascal
Antonio Callaway
Allen Lazard
Anthony Miller
Auden Tate
Braxton Berrios
Byron Pringle
Brandon Zylstra
Chad Beebe
Christian Blake
Christian Kirk
Chris Lacy
Codey McElroy
Calvin Ridley
Cam Sims
Courtland Sutton
Cedrick Wilson
Deontay Burnett
Deon Cain
D.J. Chark
DaeSean Hamilton
D.J. Moore
Dante Pettis
Damion Ratley
Da'Mari Scott
Jaleel Scott
James Washington
Justin Watson
Javon Wims
Keke Coutee
Khadarel Hodge
Marcell Ateman
Michael Gallup
Malik Turner
Marquez Valdes-Scantling
Robert Foster
Rico Gafford
Russell Gage
Richie James
Steven Mitchell
Trey Quinn
Trent Sherfield
Tre'Quan Smith
Vyncint Smith

In [10]:
final_df.head(50)

                player     first            last  ... game14 game15 game16
0            Tom Brady       Tom           Brady  ...      0      0      0
1           Drew Brees      Drew           Brees  ...      0      0      0
2          Josh McCown      Josh          McCown  ...      0      0  -1.16
3   Ben Roethlisberger       Ben  Roethlisberger  ...  12.54  15.94      0
4          Eli Manning       Eli         Manning  ...  15.08   6.04  15.76
5          Matt Schaub      Matt          Schaub  ...      0   5.62   8.02
6        Philip Rivers    Philip          Rivers  ...      0      0   5.22
7        Aaron Rodgers     Aaron         Rodgers  ...   -2.6      0   -0.1
8     Ryan Fitzpatrick      Ryan     Fitzpatrick  ...   5.06      0      0
9           Matt Moore      Matt           Moore  ...   8.82   9.28  12.96
10          Joe Flacco       Joe          Flacco  ...    1.1   8.36  11.88
11           Matt Ryan      Matt            Ryan  ...   6.14   9.56    7.3
12         Brian Hoyer     Brian           Hoyer  ...      0      0   3.84
13        Chase Daniel     Chase          Daniel  ...      0      0      0
14    Matthew Stafford   Matthew        Stafford  ...      0      0      0
15          Colt McCoy      Colt           McCoy  ...  18.72   2.96   8.26
16         Andy Dalton      Andy          Dalton  ...   4.96  18.96  10.98
17          Cam Newton       Cam          Newton  ...  19.46  35.34  11.52
18        Tyrod Taylor     Tyrod          Taylor  ...   0.72      0      0
19         Alex Tanney      Alex          Tanney  ...      0      0      0
20         Case Keenum      Case          Keenum  ...      0      0      0
21        Kirk Cousins      Kirk         Cousins  ...  22.36      0      0
22          Nick Foles      Nick           Foles  ...    7.7   14.8      0
23      Robert Griffin    Robert         Griffin  ...      0  14.32   16.3
24      Ryan Tannehill      Ryan       Tannehill  ...     22   17.6    6.2
25      Russell Wilson   Russell          Wilson  ...   39.4  23.74   25.8
26        Matt Barkley      Matt         Barkley  ...      0      0      0
27        Mike Glennon      Mike         Glennon  ...  13.16   4.62  15.76
28        Ryan Griffin      Ryan         Griffin  ...    6.2    6.6    4.9
29       A.J. McCarron      A.J.        McCarron  ...      0      0      0
30       Blake Bortles     Blake         Bortles  ...    6.6   13.6  10.78
31          Derek Carr     Derek            Carr  ...  10.88  16.56   6.92
32     Garrett Gilbert   Garrett         Gilbert  ...      0      0      0
33     Jimmy Garoppolo     Jimmy       Garoppolo  ...      0      0    5.2
34   Teddy Bridgewater     Teddy     Bridgewater  ...   15.6  17.66   8.16
35       Brett Hundley     Brett         Hundley  ...      0      0      0
36      Jameis Winston    Jameis         Winston  ...  19.02   20.8   16.4
37      Marcus Mariota    Marcus         Mariota  ...  -0.72      0      0
38        Sean Mannion      Sean         Mannion  ...      0      0      0
39      Trevor Siemian    Trevor         Siemian  ...   -0.1      0      0
40       Brandon Allen   Brandon           Allen  ...      0      0      0
41        Carson Wentz    Carson           Wentz  ...   11.6  11.78   19.1
42        Dak Prescott       Dak        Prescott  ...  19.16  24.98   2.38
43     Jacoby Brissett    Jacoby        Brissett  ...      0      0      0
44        Jeff Driskel      Jeff         Driskel  ...      0      0      0
45          Jared Goff     Jared            Goff  ...    5.4      4    4.8
46      Deshaun Watson   Deshaun          Watson  ...      0      0      0
47   Mitchell Trubisky  Mitchell        Trubisky  ...  10.86  18.12   7.32
48        Nick Mullens      Nick         Mullens  ...      0      0      0
49     Patrick Mahomes   Patrick         Mahomes  ...      0      0  10.36

[50 rows x 21 columns]

In [0]:
# Save the results to .csv file
final_df.to_csv('/content/actuals_rookie_offense.csv', index=False)