<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Offense_Predictions_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install pmdarima
!pip install category_encoders==2.0.0

In [2]:
# Imports
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
import pmdarima as pm
from sklearn import preprocessing

import category_encoders as ce

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# Import data
players_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
original_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_offense.csv')
kickers_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies_non_kicker.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies_non_offense.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/injury.csv')
player_df = pd.concat([kickers_df, offense_df], ignore_index=True)

In [4]:
# The dataframe of actual offensive points for each game from 2000-2019
original_df.head()

    player    first      last  ... 2019-game14 2019-game15  2019-game16
0  AD-0100     Andy    Dalton  ...        2.14       33.84        16.60
1  AM-1150     A.J.  McCarron  ...        0.00        0.00        17.90
2  AR-1300    Aaron   Rodgers  ...       14.42        9.34        19.02
3  AT-0160     Alex    Tanney  ...        0.04        0.00         0.00
4  BA-0375  Brandon     Allen  ...        0.00        0.00         0.00

[5 rows x 325 columns]

In [5]:
# The dataframe of all 2019 offensive players (kickers and offense)
player_df.head()

    player    first        last                name position1  start
0  AV-0400     Adam   Vinatieri      Adam Vinatieri         K   1996
1  MB-4600     Matt      Bryant         Matt Bryant         K   2002
2  RG-1500   Robbie       Gould        Robbie Gould         K   2005
3  MN-0800     Mike      Nugent         Mike Nugent         K   2005
4  SG-0800  Stephen  Gostkowski  Stephen Gostkowski         K   2006

In [6]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [7]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each player
def add_row(df, p, f, l, n, pos, wc, wp, wa, cur, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wc: cur,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(offense and kicker) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_cname = 'week' + str(w) + '-cur'
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position',
                    week_cname, 
                    week_pname,
                    week_aname
                     ]

    player_list = offense_df['player'].tolist()
    end_col = 308 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = player_df['first'].loc[(player_df['player']==player)].iloc[0]
        last = player_df['last'].loc[(player_df['player']==player)].iloc[0]
        name = player_df['name'].loc[(player_df['player']==player)].iloc[0]
        position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
        start_year = player_df['start'].loc[(player_df['player']==player)].iloc[0]
        row = original_df.index[(original_df['player']==player)][0]
        team = players_df['cteam'].loc[(players_df['player']==player)].iloc[0]

        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if start_year < 2000:
            start_year = 2000
        col = ((start_year - 2000) * 16) + 5

        if w > bye_week:
            new_col = end_col - 1
        else:
            new_col = end_col

        train_data = original_df.iloc[row, col:new_col]

        if w == 1:
            current = original_df.iloc[row, 293:309]
        else:  
            current = original_df.iloc[row, 309:new_col]
        cur_points = current.sum()

        actuals = original_df.iloc[row, new_col:325]
        act_points = actuals.sum()

        if (start_year < 2016) & (player != 'GG-0310') & (train_data.sum() > 2):
            # ARIMA model
            model = pm.auto_arima(train_data, start_p=1, start_q=1,
                                  test='adf',       # use adftest to find optimal 'd'
                                  max_p=3, max_q=3, # maximum p and q
                                  m=1,              # frequency of series
                                  d=None,           # let model determine 'd'
                                  seasonal=False,   # No Seasonality
                                  start_P=0, 
                                  D=0, 
                                  trace=False,
                                  error_action='ignore',  
                                  suppress_warnings=True, 
                                  stepwise=True)
    
            # Forecast
            if w > bye_week:
                n_periods = 17 - w + 1
            else:
                n_periods = 17 - w
            fc = model.predict(n_periods=n_periods, return_conf_int=False)
            index_of_fc = np.arange(len(train_data), len(train_data)+n_periods)
            fc_series = pd.Series(fc, index=index_of_fc)
            if (injury_week <= w):
                pred_points = 0
            else:
                pred_points = fc_series.sum()
        else:
            pred_points = train_data.mean() * (18 - w)

        week_df = add_row(week_df, player, first, last, name, position1, week_cname,
                          week_pname, week_aname, cur_points, pred_points, act_points)
    return week_df

In [15]:
for i in range(1, 18):
    week = i
    final_df = main(week)

    week_pred = 'week' + str(week) + '-pred'
    week_act = 'week' + str(week) + '-act'
    week_diff = 'week' + str(week) + '-diff'
    week_pct = 'week' + str(week) + '-pct'

    final_df[week_diff] = final_df[week_pred] - final_df[week_act]
    final_df[week_pct] = final_df[week_diff] / final_df[week_pred]
    final_df[week_pred] = final_df[week_pred].astype(int)

    file_name = '/content/week' + str(week) + '-pred-offense-norookies.csv'
    final_df.to_csv(file_name, index=False)

TB-2300 4874.420000000003
DB-3800 4854.000000000001
JM-2900 1084.8400000000001
BR-1100 3588.3
EM-0200 3292.2799999999984
MS-0200 1408.1799999999996
PR-0300 3479.339999999998
AR-1300 3479.0400000000004
RF-0500 1946.3999999999996
MM-4700 397.7199999999999
JF-1900 2345.9199999999996
MR-2500 3071.8
BH-1900 548.18
CD-0300 89.83999999999999
MS-4100 2494.0199999999995
CM-1500 367.5799999999999
AD-0100 1972.6400000000003
CN-0500 2519.539999999999
TT-0500 844.9400000000002
AT-0160 7.96
CK-0250 810.0400000000002
KC-2350 1399.8999999999999
NF-0250 721.3000000000001
RG-1850 706.26
RT-0150 1307.96
RW-3850 2275.46
MB-0450 98.80000000000001
MG-0850 306.28000000000003
RG-1885 0.0
AM-1150 59.02
BB-2425 1194.3399999999997
DC-0725 1239.3400000000004
GG-0310 1.6
JG-0650 240.26000000000002
TB-2650 448.17999999999995
BH-2300 124.91999999999999
JW-5650 1032.0600000000004
MM-0912 959.4999999999999
SM-0425 4.92
TS-1450 318.86000000000007
BA-0375 0.0
CW-1425 796.36
DP-2037 961.8800000000002
JB-5725 331.67999999999995
JD-2850 85.12
JG-1850 713.0400000000001
DW-1725 634.32
MT-1800 434.1599999999999
NM-0687 128.48000000000002
PM-0025 562.78
TH-1625 44.58
BM-0650 293.97999999999996
JA-1087 292.73999999999995
JR-3250 133.49999999999997
KA-0737 68.8
LF-0025 8.64
LJ-0150 284.18
MR-2350 53.74
SD-0175 183.39999999999995
TB-2093 0.0
DS-3300 1216.1999999999998
FG-0200 2441.3999999999996
AP-0700 2233.2999999999997
ML-2500 1800.8200000000004
LM-1000 1973.0000000000005
JD-1650 54.8
AS-0900 81.8
BP-1200 614.9
DL-1700 433.5
MI-0100 1162.4000000000003
NB-0200 11.899999999999999
PD-0700 62.29999999999998
TJ-2400 47.20000000000001
AM-2850 832.5000000000005
BB-2250 226.1
JO-0550 108.39999999999999
CA-0750 601.6999999999999
CT-1220 366.50000000000006
GB-0350 714.2000000000002
KB-0350 68.20000000000003
KJ-1400 195.60000000000002
LB-0250 1088.8
LM-1850 678.6999999999998
RB-4670 250.70000000000002
SW-0350 299.59999999999997
ZL-0200 51.39999999999999
CH-5000 604.5000000000001
DF-1875 746.0999999999999
DW-3125 269.90000000000003
JW-2550 490.09999999999997
KS-1450 7.4
RN-1250 18.899999999999995
SP-0850 3.2
AA-0025 218.90000000000003
DJ-1325 786.3000000000004
DJ-1850 452.6000000000001
JA-0450 385.3
JA-1025 286.29999999999984
MB-3862 102.7
MB-5175 12.4
MD-0150 158.49999999999997
MG-1150 748.2999999999998
RM-5050 68.60000000000001
TC-2050 528.3000000000001
TG-1950 1044.8
TM-3150 242.5
TY-0150 397.9
ZZ-0100 140.8
AJ-0375 42.099999999999994
CH-0525 24.300000000000004
CP-2550 71.60000000000001
DB-2950 224.9
DF-1375 17.799999999999997
DH-2450 493.46000000000004
DV-0550 10.200000000000001
DW-1350 148.30000000000004
DW-1550 59.90000000000002
DW-1750 19.4
EE-0250 798.5
EP-0350 39.6
JF-1250 17.700000000000003
JH-5575 597.3000000000001
JR-2075 248.90000000000006
JW-4625 11.499999999999998
KD-1462 334.99999999999994
PB-0125 275.0
PP-0350 75.4
TC-0450 0.0
TE-0350 6.600000000000001
TP-1950 14.3
WS-0650 177.2
AA-0557 21.1
AE-0550 298.00000000000006
AJ-1143 311.6
AK-0050 587.42
BH-1225 21.9
CC-0750 274.8
CC-2350 137.5
CM-1225 560.7000000000002
DC-3550 270.6
DO-0025 10.4
JC-4075 290.1000000000001
JM-5275 348.79999999999995
JW-3650 227.39999999999995
KH-2850 456.4000000000001
LF-0650 366.09999999999997
MB-3537 272.59999999999997
MM-0050 310.6
PR-0125 19.599999999999998
RO-0550 1.1
SP-0825 90.2
TC-1975 284.58
TE-0025 12.8
TL-1037 3.9
WG-0050 136.0
BS-0825 0.0
BS-1450 0.0
CE-0175 66.1
DD-0681 0.0
DG-3200 3.8
DH-3137 27.700000000000003
DT-1992 2.0999999999999996
DW-3243 39.6
GE-0150 107.19999999999999
GH-1162 0.0
IS-0250 94.70000000000002
JA-0275 74.89999999999999
JJ-0575 61.6
JK-0775 10.100000000000001
JS-0280 82.19999999999997
JW-3325 58.099999999999994
JW-4975 61.60000000000001
KB-0150 38.50000000000001
KJ-0587 152.40000000000003
MB-2950 7.6000000000000005
MW-0650 13.700000000000001
NB-0125 1.4
NC-0175 266.09999999999997
NH-1237 112.90000000000003
PL-0275 256.7
RB-2350 16.5
RF-1400 122.6
RJ-2250 55.800000000000004
RM-2050 2.0
RN-0025 0.0
RP-0550 80.60000000000001
SB-0212 341.9
SM-2625 177.70000000000005
TC-0325 31.7
JW-6000 1679.7800000000007
BW-0700 843.4999999999997
DW-0500 813.3999999999997
ML-1500 659.0
VD-0100 1145.6999999999994
GO-0100 1163.2999999999997
JC-4300 711.5000000000003
JG-2900 1195.1
CC-2100 515.5999999999999
KR-1200 634.3000000000001
LK-0200 368.6999999999998
LS-1550 88.79999999999998
LS-1900 89.30000000000001
VG-0300 133.79999999999998
DC-0775 57.099999999999994
GC-0350 184.39999999999995
RE-0400 152.89999999999998
DF-0550 172.00000000000003
DH-1450 99.10000000000002
JD-2550 267.59999999999997
JH-4070 147.3
LT-0550 154.60000000000002
LW-1450 193.2
RG-1870 192.8
TE-0300 313.09999999999985
TK-0150 767.7000000000002
VM-0250 264.5999999999999
ZE-0100 689.8999999999999
CB-2775 333.7000000000001
CM-0175 15.9
EE-0050 462.90000000000015
LT-0275 33.94
SS-1525 15.6
TB-3950 200.70000000000005
XG-0100 39.89999999999999
BB-1550 38.50000000000001
BK-1050 27.9
CU-0150 115.1
CW-0225 112.8
DB-4387 37.699999999999996
DW-0675 68.50000000000001
ET-0375 25.3
GS-1400 45.6
JH-3625 89.1
JJ-0725 179.50000000000009
JO-0150 78.2
ML-0050 38.7
MP-2350 26.400000000000002
MW-2450 73.49999999999999
NB-0450 76.00000000000001
NO-0150 77.60000000000001
RT-1550 9.099999999999998
TK-0850 114.1
AH-3650 264.0
BB-2712 10.700000000000001
HH-0225 181.7
JH-5150 2.3
JP-2075 16.900000000000002
JV-0050 0.0
NV-0050 73.10000000000001
SD-0534 81.6
TH-1550 110.1
AA-0581 7.3
AF-0550 28.5
AS-0775 48.5
BJ-0950 66.0
CC-0775 0.0
DA-1650 21.0
DD-0075 2.5999999999999996
DN-1225 160.29999999999995
EE-0400 242.70000000000002
ES-0250 4.8
GE-0400 119.6
GK-0075 271.50000000000006
JH-4850 9.899999999999999
JM-6775 0.5
JS-4550 83.4
JS-5475 24.9
MA-0487 29.1
OH-0250 177.80000000000004
PB-0725 1.8
RS-0687 94.0
RT-1250 22.3
SC-1850 3.5999999999999996
TS-3662 2.3
CH-2950 74.2
DG-1287 67.69999999999999
DS-0850 11.599999999999998
DS-3137 7.4
DY-0075 4.3
HH-0350 41.0
IT-0150 45.300000000000004
JA-0462 52.2
JG-2687 0.0
JT-1775 45.5
MA-1050 124.30000000000001
MG-0325 23.300000000000004
RD-2300 1.0999999999999999
RI-0500 14.3
TC-2375 7.699999999999999
TF-1500 0.7
TH-2875 0.0
WD-0550 78.5
LF-0200 2388.62
TG-0900 854.3999999999995
DA-0900 616.7599999999999
DJ-0200 1514.2000000000003
MS-2100 -0.30000000000000027
JE-0100 832.9000000000001
MC-2900 1091.6999999999998
AB-3500 1642.1000000000004
AR-1100 422.00000000000006
DT-0900 1318.2
ES-0200 1007.8200000000004
GT-0100 995.6199999999995
CH-3350 378.56
DH-1800 163.1
DI-0075 302.6000000000001
JJ-4700 1473.1999999999996
RC-1500 884.0999999999993
AJ-0430 926.0000000000002
CB-1130 488.5000000000001
JB-2950 142.2
JG-2450 555.4999999999998
JW-6560 342.80000000000007
MJ-2250 679.6999999999999
MS-0150 643.6200000000002
TB-1060 485.1000000000001
TH-1850 1138.4000000000003
AT-0350 575.2
CP-0750 407.69999999999993
DH-3950 1075.6999999999996
JB-6750 231.89999999999995
KA-0650 762.2999999999997
KS-2350 665.52
MG-1050 331.2
RS-0975 127.50000000000001
RW-4050 652.0000000000001
TA-1050 470.5
AH-3900 446.49999999999983
AR-1250 574.8000000000001
AW-1650 297.78000000000003
BC-2325 807.8000000000002
BF-0950 133.59999999999994
CL-0275 100.00000000000001
DA-0212 699.5
DM-2775 392.59999999999997
DS-3187 1.7000000000000002
DT-0850 111.49999999999999
JB-6950 508.4
JL-0215 735.4800000000005
JM-1550 461.5
ME-0600 937.0999999999999
ML-0650 280.3
OB-0075 893.0400000000002
PR-0150 250.10000000000002
QE-0100 192.89999999999998
RG-1650 177.30000000000004
SR-0750 273.4
SW-0450 597.7
TG-0025 370.89999999999986
TJ-2350 114.89999999999999
WS-0925 347.0000000000001
AC-2350 642.1
AH-3862 306.70000000000005
BP-0450 126.89999999999999
CC-3950 186.1
DB-6375 41.699999999999996
DC-1050 18.2
DF-2200 352.49999999999994
DJ-0850 30.540000000000006
DP-0350 303.80000000000007
DS-3031 36.8
DW-2350 4.2
GD-0050 5.8999999999999995
JC-5680 374.9999999999999
JH-1350 134.3
JK-2250 20.4
JN-0625 229.50000000000006
NA-0050 355.9000000000001
PD-0800 209.80000000000007
SD-0537 542.3999999999999
TL-1025 515.2999999999998
TW-2875 418.1000000000001
AE-1037 51.79999999999999
CC-4450 46.8
CM-2675 81.7
CR-1525 141.8
DR-2225 124.1
DW-2850 8.9
GA-0250 120.9
JG-2950 95.9
JH-5125 46.79999999999999
JM-3475 77.0
JM-4175 23.700000000000003
KR-0312 -2.9
LT-0862 57.70000000000002
MH-0225 41.60000000000001
MJ-1450 20.5
MT-0875 584.9999999999998
MT-0887 11.0
PC-0625 24.9
RA-1125 341.40000000000003
RH-1950 135.1
SS-1250 364.29999999999995
TB-2075 300.49999999999994
TD-0737 32.9
TH-1750 599.3000000000002
TJ-2650 0.0
TS-1262 120.10000000000001
WF-0300 306.70000000000005
AC-0387 21.7
AP-0388 2.2
BW-2475 16.3
CB-1750 0.0
CD-0975 182.20000000000007
CG-1425 271.8
CG-2162 0.0
CH-3775 0.0
CK-1300 290.99999999999994
CS-0050 149.20000000000002
CW-2450 30.4
DM-3050 85.80000000000001
DW-2275 184.7
FB-0750 0.0
GW-0250 0.0
IF-0175 0.9
IM-0125 51.3
JN-0350 1.2999999999999998
JR-1950 90.80000000000001
JR-3280 115.89999999999999
JS-4750 376.90000000000003
KB-1625 104.30000000000003
KC-1550 145.79999999999998
KG-0650 255.99999999999997
KH-2075 0.0
MH-3050 43.099999999999994
MW-2825 173.8
RD-0150 0.0
RD-0450 1.1
RS-3525 44.900000000000006
TP-0675 37.199999999999996
TT-0150 86.0
ZJ-0100 159.70000000000005
ZP-0050 60.30000000000001
AC-0237 91.30000000000001
AL-0387 0.7
AM-1975 97.22
AT-0247 24.5
BB-1950 2.9
BP-1375 18.3
BZ-0100 2.3
CB-1152 10.9
CB-1650 0.0
CK-0825 112.50000000000001
CL-0125 0.0
CM-1650 0.0
CR-0862 196.3
CS-1925 0.0
CS-4462 156.39999999999998
CW-3250 0.0
DB-5912 14.3
DC-0025 5.2
DC-1418 93.9
DH-1050 44.0
DM-2850 146.4
DP-1263 88.94
DR-0550 24.7
DS-0875 0.0
JS-1350 0.0
JW-0934 41.699999999999996
JW-1050 1.8
JW-5475 9.6
KC-2375 44.70000000000001
KH-2025 1.7
MA-1287 21.4
MG-0175 108.6
MT-2350 9.3
MV-0012 106.5
RF-1075 76.1
RG-0012 0.0
RG-0025 8.700000000000001
RJ-0450 35.800000000000004
SM-2825 0.0
TQ-0100 29.900000000000002
TS-1425 30.8
TS-2425 88.2
VS-0175 15.100000000000001