<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Offense_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install pmdarima
!pip install category_encoders==2.0.0

In [2]:
# Imports
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
import pmdarima as pm
from sklearn import preprocessing

import category_encoders as ce

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# Import data
players_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
original_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_offense.csv')
kickers_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies_non_kicker.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies_non_offense.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/injury.csv')
player_df = pd.concat([kickers_df, offense_df], ignore_index=True)

In [4]:
# The dataframe of actual offensive points for each game from 2000-2019
original_df.head()

    player    first      last  ... 2019-game14 2019-game15  2019-game16
0  AD-0100     Andy    Dalton  ...        2.14       33.84        16.60
1  AM-1150     A.J.  McCarron  ...        0.00        0.00        17.90
2  AR-1300    Aaron   Rodgers  ...       14.42        9.34        19.02
3  AT-0160     Alex    Tanney  ...        0.04        0.00         0.00
4  BA-0375  Brandon     Allen  ...        0.00        0.00         0.00

[5 rows x 325 columns]

In [5]:
# The dataframe of all 2019 offensive players (kickers and offense)
player_df.head()

    player    first        last                name position1  start
0  AV-0400     Adam   Vinatieri      Adam Vinatieri         K   1996
1  MB-4600     Matt      Bryant         Matt Bryant         K   2002
2  RG-1500   Robbie       Gould        Robbie Gould         K   2005
3  MN-0800     Mike      Nugent         Mike Nugent         K   2005
4  SG-0800  Stephen  Gostkowski  Stephen Gostkowski         K   2006

In [6]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [7]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each player
def add_row(df, p, f, l, n, pos, wc, wp, wa, cur, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wc: cur,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(offense and kicker) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_cname = 'week' + str(w) + '-cur'
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position',
                    week_cname, 
                    week_pname,
                    week_aname
                     ]

    player_list = offense_df['player'].tolist()
    end_col = 308 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = player_df['first'].loc[(player_df['player']==player)].iloc[0]
        last = player_df['last'].loc[(player_df['player']==player)].iloc[0]
        name = player_df['name'].loc[(player_df['player']==player)].iloc[0]
        position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
        start_year = player_df['start'].loc[(player_df['player']==player)].iloc[0]
        row = original_df.index[(original_df['player']==player)][0]
        team = players_df['cteam'].loc[(players_df['player']==player)].iloc[0]

        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if start_year < 2000:
            start_year = 2000
        col = ((start_year - 2000) * 16) + 5

        if w > bye_week:
            new_col = end_col - 1
        else:
            new_col = end_col

        train_data = original_df.iloc[row, col:new_col]

        current = original_df.iloc[row, 309:new_col]
        cur_points = current.sum()

        actuals = original_df.iloc[row, new_col:325]
        act_points = actuals.sum()

        print(player, train_data.sum())

        if (start_year < 2016) & (player != 'GG-0310') & (train_data.sum() > 1):
            # ARIMA model
            model = pm.auto_arima(train_data, start_p=1, start_q=1,
                                  test='adf',       # use adftest to find optimal 'd'
                                  max_p=3, max_q=3, # maximum p and q
                                  m=1,              # frequency of series
                                  d=None,           # let model determine 'd'
                                  seasonal=False,   # No Seasonality
                                  start_P=0, 
                                  D=0, 
                                  trace=False,
                                  error_action='ignore',  
                                  suppress_warnings=True, 
                                  stepwise=True)
    
            # Forecast
            if w > bye_week:
                n_periods = 17 - w + 1
            else:
                n_periods = 17 - w
            fc = model.predict(n_periods=n_periods, return_conf_int=False)
            index_of_fc = np.arange(len(train_data), len(train_data)+n_periods)
            fc_series = pd.Series(fc, index=index_of_fc)
            if (injury_week <= w):
                pred_points = 0
            else:
                pred_points = fc_series.sum()
        else:
            pred_points = train_data.mean() * (18 - w)

        week_df = add_row(week_df, player, first, last, name, position1, week_cname,
                          week_pname, week_aname, cur_points, pred_points, act_points)
    return week_df

In [10]:
week = 17
final_df = main(week)

TB-2300 5025.200000000003
DB-3800 5038.42
JM-2900 1084.8400000000001
BR-1100 3588.3
EM-0200 3323.6199999999985
MS-0200 1441.08
PR-0300 3623.099999999998
AR-1300 3665.920000000001
RF-0500 2155.04
MM-4700 443.07999999999987
JF-1900 2365.2799999999997
MR-2500 3217.92
BH-1900 569.4599999999999
CD-0300 90.19999999999999
MS-4100 2585.2999999999997
CM-1500 367.5799999999999
AD-0100 2080.6200000000003
CN-0500 2519.539999999999
TT-0500 850.7800000000001
AT-0160 8.0
CK-0250 848.2800000000002
KC-2350 1584.6399999999996
NF-0250 755.0400000000001
RG-1850 708.42
RT-0150 1520.42
RW-3850 2460.48
MB-0450 98.80000000000001
MG-0850 310.52000000000004
RG-1885 0.62
AM-1150 59.02
BB-2425 1193.5599999999995
DC-0725 1407.7200000000005
GG-0310 1.2999999999999998
JG-0650 423.3800000000001
TB-2650 481.21999999999997
BH-2300 130.38
JW-5650 1232.3400000000001
MM-0912 958.4199999999998
SM-0425 4.62
TS-1450 318.86000000000007
BA-0375 33.5
CW-1425 960.18
DP-2037 1158.5600000000004
JB-5725 458.1
JD-2850 143.22000000000003
JG-1850 856.1400000000001
DW-1725 833.54
MT-1800 596.9799999999998
NM-0687 128.18
PM-0025 719.4200000000001
TH-1625 102.86
BM-0650 455.21999999999997
JA-1087 501.42
JR-3250 132.89999999999998
KA-0737 200.71999999999997
LF-0025 8.64
LJ-0150 582.9200000000001
MR-2350 111.9
SD-0175 350.79999999999995
TB-2093 -0.10000000000000003
DS-3300 1217.1999999999998
FG-0200 2470.0999999999995
AP-0700 2340.2999999999997
ML-2500 1800.8200000000004
LM-1000 2016.8000000000004
JD-1650 54.8
AS-0900 83.2
BP-1200 637.9999999999999
DL-1700 464.4
MI-0100 1298.5000000000005
NB-0200 18.2
PD-0700 65.79999999999998
TJ-2400 47.20000000000001
AM-2850 832.9000000000004
BB-2250 248.79999999999998
JO-0550 108.39999999999999
CA-0750 601.6999999999999
CT-1220 383.50000000000006
GB-0350 738.9000000000002
KB-0350 76.92000000000003
KJ-1400 213.10000000000002
LB-0250 1186.8999999999996
LM-1850 775.7999999999998
RB-4670 290.5
SW-0350 306.9
ZL-0200 56.69999999999999
CH-5000 704.6000000000001
DF-1875 837.3999999999999
DW-3125 333.70000000000005
JW-2550 574.5
KS-1450 9.600000000000001
RN-1250 19.299999999999994
SP-0850 3.2
AA-0025 234.80000000000004
DJ-1325 822.7000000000005
DJ-1850 521.9
JA-0450 388.3
JA-1025 295.49999999999983
MB-3862 126.2
MB-5175 12.4
MD-0150 159.29999999999998
MG-1150 865.0999999999997
RM-5050 172.10000000000002
TC-2050 621.6000000000001
TG-1950 1162.5
TM-3150 257.2
TY-0150 397.9
ZZ-0100 142.5
AJ-0375 52.39999999999999
CH-0525 43.60000000000001
CP-2550 77.70000000000002
DB-2950 229.8
DF-1375 17.799999999999997
DH-2450 656.46
DV-0550 14.8
DW-1350 202.30000000000004
DW-1550 66.30000000000003
DW-1750 26.1
EE-0250 961.9
EP-0350 40.5
JF-1250 18.6
JH-5575 639.2
JR-2075 281.1000000000001
JW-4625 46.9
KD-1462 474.20000000000005
PB-0125 330.1
PP-0350 79.2
TC-0450 6.6
TE-0350 7.200000000000001
TP-1950 12.3
WS-0650 185.8
AA-0557 21.7
AE-0550 419.80000000000007
AJ-1143 473.9000000000001
AK-0050 668.42
BH-1225 76.99999999999999
CC-0750 409.9
CC-2350 137.5
CM-1225 775.5000000000002
DC-3550 407.8
DO-0025 39.9
JC-4075 350.9000000000001
JM-5275 472.59999999999997
JW-3650 314.49999999999994
KH-2850 513.1000000000001
LF-0650 480.0
MB-3537 304.7
MM-0050 393.0
PR-0125 23.9
RO-0550 1.1
SP-0825 90.2
TC-1975 338.58
TE-0025 26.8
TL-1037 6.199999999999999
WG-0050 138.6
BS-0825 38.0
BS-1450 41.1
CE-0175 114.0
DD-0681 2.6
DG-3200 52.400000000000006
DH-3137 34.6
DT-1992 2.6999999999999997
DW-3243 65.9
GE-0150 164.2
GH-1162 0.5
IS-0250 96.00000000000001
JA-0275 76.09999999999998
JJ-0575 67.2
JK-0775 11.000000000000002
JS-0280 119.3
JW-3325 91.1
JW-4975 76.30000000000001
KB-0150 70.5
KJ-0587 171.10000000000005
MB-2950 29.8
MW-0650 34.50000000000001
NB-0125 1.7
NC-0175 397.49999999999994
NH-1237 166.2
PL-0275 349.2
RB-2350 21.1
RF-1400 186.09999999999997
RJ-2250 139.4
RM-2050 0.0
RN-0025 0.0
RP-0550 130.7
SB-0212 481.2
SM-2625 259.5000000000001
TC-0325 31.7
JW-6000 1726.9800000000007
BW-0700 860.3999999999996
DW-0500 817.6999999999997
ML-1500 672.5000000000001
VD-0100 1145.6999999999994
GO-0100 1199.1999999999998
JC-4300 808.5000000000002
JG-2900 1227.7
CC-2100 540.2999999999998
KR-1200 705.4000000000001
LK-0200 368.6999999999998
LS-1550 90.29999999999998
LS-1900 92.00000000000001
VG-0300 145.8
DC-0775 70.7
GC-0350 184.39999999999995
RE-0400 170.99999999999997
DF-0550 221.10000000000002
DH-1450 127.4
JD-2550 317.0
JH-4070 177.40000000000003
LT-0550 155.60000000000002
LW-1450 197.49999999999997
RG-1870 255.10000000000005
TE-0300 357.7999999999998
TK-0150 872.7000000000002
VM-0250 283.99999999999994
ZE-0100 778.2999999999997
CB-2775 369.4000000000001
CM-0175 17.0
EE-0050 492.8000000000002
LT-0275 51.04
SS-1525 16.700000000000003
TB-3950 203.40000000000003
XG-0100 39.89999999999999
BB-1550 44.30000000000001
BK-1050 28.799999999999997
CU-0150 134.6
CW-0225 118.5
DB-4387 47.699999999999996
DW-0675 152.3
ET-0375 25.400000000000002
GS-1400 46.1
JH-3625 99.79999999999998
JJ-0725 188.60000000000008
JO-0150 78.2
ML-0050 52.3
MP-2350 34.1
MW-2450 91.0
NB-0450 108.80000000000003
NO-0150 90.8
RT-1550 12.199999999999998
TK-0850 126.7
AH-3650 325.9
BB-2712 20.2
HH-0225 260.7
JH-5150 9.1
JP-2075 20.6
JV-0050 0.0
NV-0050 83.10000000000001
SD-0534 95.19999999999997
TH-1550 168.2
AA-0581 8.4
AF-0550 54.400000000000006
AS-0775 52.9
BJ-0950 105.2
CC-0775 7.3
DA-1650 32.1
DD-0075 2.9999999999999996
DN-1225 160.69999999999996
EE-0400 258.3
ES-0250 5.9
GE-0400 144.10000000000002
GK-0075 370.4
JH-4850 60.29999999999999
JM-6775 2.9
JS-4550 144.50000000000003
JS-5475 45.699999999999996
MA-0487 33.1
OH-0250 215.60000000000002
PB-0725 2.7
RS-0687 123.30000000000001
RT-1250 30.8
SC-1850 3.5999999999999996
TS-3662 2.3
CH-2950 74.9
DG-1287 137.6
DS-0850 12.199999999999998
DS-3137 10.700000000000001
DY-0075 5.0
HH-0350 67.70000000000002
IT-0150 63.699999999999996
JA-0462 72.90000000000002
JG-2687 20.9
JT-1775 45.5
MA-1050 218.40000000000003
MG-0325 93.80000000000001
RD-2300 22.5
RI-0500 17.400000000000002
TC-2375 12.600000000000001
TF-1500 8.9
TH-2875 2.5999999999999996
WD-0550 78.5
LF-0200 2438.72
TG-0900 886.1999999999994
DA-0900 668.86
DJ-0200 1514.7000000000003
MS-2100 -0.30000000000000027
JE-0100 938.8
MC-2900 1091.6999999999998
AB-3500 1642.1000000000004
AR-1100 423.40000000000003
DT-0900 1362.9000000000003
ES-0200 1081.7200000000003
GT-0100 1092.7199999999993
CH-3350 381.46000000000004
DH-1800 163.1
DI-0075 306.9000000000001
JJ-4700 1580.4999999999995
RC-1500 947.7999999999993
AJ-0430 973.1000000000003
CB-1130 577.6
JB-2950 142.2
JG-2450 568.0999999999998
JW-6560 357.5
MJ-2250 777.5
MS-0150 670.82
TB-1060 485.1000000000001
TH-1850 1164.1000000000004
AT-0350 598.6000000000001
CP-0750 422.6
DH-3950 1197.54
JB-6750 254.29999999999995
KA-0650 840.2999999999996
KS-2350 720.8200000000002
MG-1050 333.2
RS-0975 127.50000000000001
RW-4050 741.5000000000003
TA-1050 502.49999999999994
AH-3900 493.9999999999999
AR-1250 674.7000000000002
AW-1650 336.08000000000004
BC-2325 837.1000000000001
BF-0950 144.99999999999991
CL-0275 130.4
DA-0212 776.0999999999999
DM-2775 393.7
DS-3187 2.5
DT-0850 111.89999999999999
JB-6950 614.82
JL-0215 834.3800000000005
JM-1550 464.8
ME-0600 1043.9999999999998
ML-0650 281.20000000000005
OB-0075 966.4400000000003
PR-0150 258.30000000000007
QE-0100 192.89999999999998
RG-1650 177.30000000000004
SR-0750 304.2
SW-0450 630.9
TG-0025 401.09999999999985
TJ-2350 114.89999999999999
WS-0925 376.4000000000001
AC-2350 720.5999999999999
AH-3862 341.90000000000003
BP-0450 206.69999999999996
CC-3950 267.5
DB-6375 60.599999999999994
DC-1050 28.0
DF-2200 352.49999999999994
DJ-0850 30.540000000000006
DP-0350 440.20000000000005
DS-3031 36.8
DW-2350 5.0
GD-0050 5.8999999999999995
JC-5680 464.4
JH-1350 144.60000000000005
JK-2250 45.49999999999999
JN-0625 229.50000000000006
NA-0050 376.1000000000001
PD-0800 236.8000000000001
SD-0537 670.1
TL-1025 602.2999999999997
TW-2875 477.6000000000001
AE-1037 98.73999999999998
CC-4450 46.8
CM-2675 83.8
CR-1525 158.29999999999998
DR-2225 138.49999999999997
DW-2850 11.799999999999999
GA-0250 139.5
JG-2950 119.80000000000001
JH-5125 48.499999999999986
JM-3475 115.3
JM-4175 23.700000000000003
KR-0312 19.6
LT-0862 84.10000000000002
MH-0225 71.70000000000002
MJ-1450 59.10000000000001
MT-0875 734.5999999999997
MT-0887 12.4
PC-0625 49.7
RA-1125 438.70000000000016
RH-1950 141.99999999999997
SS-1250 406.3
TB-2075 380.59999999999997
TD-0737 37.1
TH-1750 729.4000000000002
TJ-2650 6.1
TS-1262 165.10000000000002
WF-0300 333.7000000000001
AC-0387 22.599999999999998
AP-0388 5.6
BW-2475 15.3
CB-1750 3.0999999999999996
CD-0975 223.8000000000001
CG-1425 376.8
CG-2162 0.0
CH-3775 1.3
CK-1300 378.7
CS-0050 234.10000000000002
CW-2450 30.4
DM-3050 116.60000000000001
DW-2275 230.89999999999998
FB-0750 2.1
GW-0250 27.6
IF-0175 19.0
IM-0125 66.39999999999999
JN-0350 1.2999999999999998
JR-1950 128.3
JR-3280 130.1
JS-4750 404.20000000000005
KB-1625 166.20000000000002
KC-1550 185.89999999999995
KG-0650 391.5
KH-2075 0.4
MH-3050 43.099999999999994
MW-2825 261.20000000000005
RD-0150 0.0
RD-0450 1.7000000000000002
RS-3525 44.7
TP-0675 57.599999999999994
TT-0150 86.0
ZJ-0100 172.60000000000005
ZP-0050 132.7
AC-0237 100.2
AL-0387 55.599999999999994
AM-1975 164.22
AT-0247 65.0
BB-1950 8.4
BP-1375 22.999999999999996
BZ-0100 3.3
CB-1152 10.9
CB-1650 9.100000000000001
CK-0825 180.1
CL-0125 4.8
CM-1650 3.0
CR-0862 282.80000000000007
CS-1925 1.5
CS-4462 243.51999999999995
CW-3250 4.6
DB-5912 14.3
DC-0025 12.399999999999999
DC-1418 164.8
DH-1050 65.5
DM-2850 251.5
DP-1263 102.03999999999999
DR-0550 28.0
DS-0875 2.7
JS-1350 0.0
JW-0934 119.19999999999999
JW-1050 25.700000000000003
JW-5475 25.5
KC-2375 64.80000000000001
KH-2025 6.8
MA-1287 28.4
MG-0175 187.60000000000002
MT-2350 32.5
MV-0012 135.2
RF-1075 85.39999999999999
RG-0012 12.9
RG-0025 49.300000000000004
RJ-0450 45.400000000000006
SM-2825 0.0
TQ-0100 39.0
TS-1425 35.0
TS-2425 116.5
VS-0175 38.0

In [11]:
final_df.head(50)

     player     first            last  ... week17-cur week17-pred  week17-act
0   TB-2300       Tom           Brady  ...     250.84   15.294514       14.84
1   DB-3800      Drew           Brees  ...     204.74    0.000000       23.02
2   JM-2900      Josh          McCown  ...       0.76    1.133766        0.00
3   BR-1100       Ben  Roethlisberger  ...      12.74    0.000000        0.00
4   EM-0200       Eli         Manning  ...      56.38    7.416560        0.00
5   MS-0200      Matt          Schaub  ...      32.90    1.517098        0.00
6   PR-0300    Philip          Rivers  ...     223.76   15.104800       16.74
7   AR-1300     Aaron         Rodgers  ...     263.36   14.418765       19.02
8   RF-0500      Ryan     Fitzpatrick  ...     218.16   20.018173       24.30
9   MM-4700      Matt           Moore  ...      45.26    2.437799        0.00
10  JF-1900       Joe          Flacco  ...      85.88    0.000000        0.00
11  MR-2500      Matt            Ryan  ...     254.82   16.968080       14.52
12  BH-1900     Brian           Hoyer  ...      21.28    1.338874       -0.20
13  CD-0300     Chase          Daniel  ...      26.00    0.398168        0.00
14  MS-4100   Matthew        Stafford  ...     170.56    0.000000        0.00
15  CM-1500      Colt           McCoy  ...       4.16    0.000000        0.00
16  AD-0100      Andy          Dalton  ...     189.02   18.867530       16.60
17  CN-0500       Cam          Newton  ...      16.68    0.000000        0.00
18  TT-0500     Tyrod          Taylor  ...       6.02    0.847647        0.00
19  AT-0160      Alex          Tanney  ...       0.04    0.000000        0.00
20  CK-0250      Case          Keenum  ...      95.24    0.000000       10.24
21  KC-2350      Kirk         Cousins  ...     250.38   15.122909        0.00
22  NF-0250      Nick           Foles  ...      40.74    0.000000        0.00
23  RG-1850    Robert         Griffin  ...       9.26   -0.856118        6.84
24  RT-0150      Ryan       Tannehill  ...     212.26   24.707428       18.92
25  RW-3850   Russell          Wilson  ...     313.42   19.373858       20.22
26  MB-0450      Matt         Barkley  ...       3.08    0.388460        2.88
27  MG-0850      Mike         Glennon  ...       4.24   -0.717151        0.00
28  RG-1885      Ryan         Griffin  ...       0.62    0.005586        0.00
29  AM-1150      A.J.        McCarron  ...       0.00   -0.267575       17.90
30  BB-2425     Blake         Bortles  ...      -0.78   -0.400804        0.00
31  DC-0725     Derek            Carr  ...     229.76   14.818105       19.64
32  GG-0310   Garrett         Gilbert  ...      -0.30    0.013684        0.00
33  JG-0650     Jimmy       Garoppolo  ...     240.56   17.685620       11.80
34  TB-2650     Teddy     Bridgewater  ...      90.20    0.142161        0.26
35  BH-2300     Brett         Hundley  ...       5.46    1.958140        0.60
36  JW-5650    Jameis         Winston  ...     293.82   20.228043       14.54
37  MM-0912    Marcus         Mariota  ...      86.06    7.969318        0.96
38  SM-0425      Sean         Mannion  ...      -0.50    0.000000       -0.96
39  TS-1450    Trevor         Siemian  ...       0.12    0.000000        0.00
40  BA-0375   Brandon           Allen  ...      33.50    0.531746        0.00
41  CW-1425    Carson           Wentz  ...     261.80   15.240952       18.06
42  DP-2037       Dak        Prescott  ...     314.12   18.389841       30.62
43  JB-5725    Jacoby        Brissett  ...     216.50    7.271429        4.18
44  JD-2850      Jeff         Driskel  ...      58.10    2.273333        0.00
45  JG-1850     Jared            Goff  ...     224.40   13.589524       25.16
46  DW-1725   Deshaun          Watson  ...     323.98   17.734894        0.00
47  MT-1800  Mitchell        Trubisky  ...     196.44   12.701702        6.38
48  NM-0687      Nick         Mullens  ...      -0.30    2.727234        0.00
49  PM-0025   Patrick         Mahomes  ...     284.98   15.306809       11.06

[50 rows x 8 columns]

In [0]:
week_pred = 'week' + str(week) + '-pred'
week_act = 'week' + str(week) + '-act'
week_diff = 'week' + str(week) + '-diff'
week_pct = 'week' + str(week) + '-pct'

In [0]:
# The final_df dataframe
final_df[week_diff] = final_df[week_pred] - final_df[week_act]
final_df[week_pct] = final_df[week_diff] / final_df[week_pred]
final_df[week_pred] = final_df[week_pred].astype(int)

In [14]:
# Calculate the metrics
pred_median_error = final_df[week_pct].median()

print('Median Error - %.4f%%' % (pred_median_error * 100))

Median Error - 67.7569%

In [15]:
final_df.head(50)

     player     first            last  ... week17-act week17-diff  week17-pct
0   TB-2300       Tom           Brady  ...      14.84    0.454514    0.029717
1   DB-3800      Drew           Brees  ...      23.02  -23.020000        -inf
2   JM-2900      Josh          McCown  ...       0.00    1.133766    1.000000
3   BR-1100       Ben  Roethlisberger  ...       0.00    0.000000         NaN
4   EM-0200       Eli         Manning  ...       0.00    7.416560    1.000000
5   MS-0200      Matt          Schaub  ...       0.00    1.517098    1.000000
6   PR-0300    Philip          Rivers  ...      16.74   -1.635200   -0.108257
7   AR-1300     Aaron         Rodgers  ...      19.02   -4.601235   -0.319114
8   RF-0500      Ryan     Fitzpatrick  ...      24.30   -4.281827   -0.213897
9   MM-4700      Matt           Moore  ...       0.00    2.437799    1.000000
10  JF-1900       Joe          Flacco  ...       0.00    0.000000         NaN
11  MR-2500      Matt            Ryan  ...      14.52    2.448080    0.144276
12  BH-1900     Brian           Hoyer  ...      -0.20    1.538874    1.149379
13  CD-0300     Chase          Daniel  ...       0.00    0.398168    1.000000
14  MS-4100   Matthew        Stafford  ...       0.00    0.000000         NaN
15  CM-1500      Colt           McCoy  ...       0.00    0.000000         NaN
16  AD-0100      Andy          Dalton  ...      16.60    2.267530    0.120182
17  CN-0500       Cam          Newton  ...       0.00    0.000000         NaN
18  TT-0500     Tyrod          Taylor  ...       0.00    0.847647    1.000000
19  AT-0160      Alex          Tanney  ...       0.00    0.000000         NaN
20  CK-0250      Case          Keenum  ...      10.24  -10.240000        -inf
21  KC-2350      Kirk         Cousins  ...       0.00   15.122909    1.000000
22  NF-0250      Nick           Foles  ...       0.00    0.000000         NaN
23  RG-1850    Robert         Griffin  ...       6.84   -7.696118    8.989556
24  RT-0150      Ryan       Tannehill  ...      18.92    5.787428    0.234238
25  RW-3850   Russell          Wilson  ...      20.22   -0.846142   -0.043674
26  MB-0450      Matt         Barkley  ...       2.88   -2.491540   -6.413899
27  MG-0850      Mike         Glennon  ...       0.00   -0.717151    1.000000
28  RG-1885      Ryan         Griffin  ...       0.00    0.005586    1.000000
29  AM-1150      A.J.        McCarron  ...      17.90  -18.167575   67.897235
30  BB-2425     Blake         Bortles  ...       0.00   -0.400804    1.000000
31  DC-0725     Derek            Carr  ...      19.64   -4.821895   -0.325406
32  GG-0310   Garrett         Gilbert  ...       0.00    0.013684    1.000000
33  JG-0650     Jimmy       Garoppolo  ...      11.80    5.885620    0.332791
34  TB-2650     Teddy     Bridgewater  ...       0.26   -0.117839   -0.828919
35  BH-2300     Brett         Hundley  ...       0.60    1.358140    0.693587
36  JW-5650    Jameis         Winston  ...      14.54    5.688043    0.281196
37  MM-0912    Marcus         Mariota  ...       0.96    7.009318    0.879538
38  SM-0425      Sean         Mannion  ...      -0.96    0.960000         inf
39  TS-1450    Trevor         Siemian  ...       0.00    0.000000         NaN
40  BA-0375   Brandon           Allen  ...       0.00    0.531746    1.000000
41  CW-1425    Carson           Wentz  ...      18.06   -2.819048   -0.184965
42  DP-2037       Dak        Prescott  ...      30.62  -12.230159   -0.665050
43  JB-5725    Jacoby        Brissett  ...       4.18    3.091429    0.425147
44  JD-2850      Jeff         Driskel  ...       0.00    2.273333    1.000000
45  JG-1850     Jared            Goff  ...      25.16  -11.570476   -0.851426
46  DW-1725   Deshaun          Watson  ...       0.00   17.734894    1.000000
47  MT-1800  Mitchell        Trubisky  ...       6.38    6.321702    0.497705
48  NM-0687      Nick         Mullens  ...       0.00    2.727234    1.000000
49  PM-0025   Patrick         Mahomes  ...      11.06    4.246809    0.277446

[50 rows x 10 columns]

In [0]:
# Save the results to .csv file
file_name = '/content/week' + str(week) + '-pred-offense-norookies.csv'
final_df.to_csv(file_name, index=False)