<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Rookie_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/injury.csv')
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [3]:
# The dataframe of all 2019 players
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [4]:
# The dataframe for all 2019 rookies
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [5]:
# The dataframe of 2019 actual points for each 2019 rookie
actuals2019_df.head()

    player   first        last  ... game14 game15  game16
0  MG-0306    Matt         Gay  ...    9.0  10.00    1.00
1  CM-2137   Chase  McLaughlin  ...    0.0   0.00    0.00
2  AS-0575  Austin     Seibert  ...    7.0   3.00    6.00
3  JS-3825    Joey        Slye  ...    8.0   8.00    4.00
4  DB-2750   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [6]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [7]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each team
def add_row(df, p, f, l, n, pos, wc, wp, wa, cur, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wc: cur,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(rookie) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_cname = 'week' + str(w) + '-cur'
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position',
                    week_cname, 
                    week_pname,
                    week_aname
                     ]

    player_list = rookies_df['player'].tolist()
    row = 0
    col = 4 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = rookies_df['first'].loc[(rookies_df['player']==player)].iloc[0]
        last = rookies_df['last'].loc[(rookies_df['player']==player)].iloc[0]
        name = rookies_df['name'].loc[(rookies_df['player']==player)].iloc[0]
        position1 = rookies_df['position1'].loc[(rookies_df['player']==player)].iloc[0]
        team = player_df['cteam'].loc[(player_df['player']==player)].iloc[0]

        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if w > bye_week:
            new_col = col - 1
        else:
            new_col = col

        current = actuals2019_df.iloc[row, 5:new_col]
        cur_points = current.sum()

        act_points = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, new_col:21].sum()
        row = row + 1
    
        # Forecast
        if w > bye_week:
            n_periods = 17 - w + 1
        else:
            n_periods = 17 - w

        end_col = 5 + w - 1
        act_avg = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, 5:end_col].mean()
        if (injury_week <= w):
            pred_points = 0
        else:
            pred_points = n_periods * act_avg

        week_df = add_row(week_df, player, first, last, name, position1, week_cname, 
                          week_pname, week_aname, cur_points, pred_points, act_points)
    return week_df

In [0]:
week = 17
final_df = main(week)

In [11]:
final_df.head(50)

     player      first          last  ... week17-cur week17-pred  week17-act
0   MG-0306       Matt           Gay  ...     139.00     8.75000        1.00
1   CM-2137      Chase    McLaughlin  ...      87.00     5.43750        0.00
2   AS-0575     Austin       Seibert  ...     106.00     7.00000        6.00
3   JS-3825       Joey          Slye  ...     120.00     7.75000        4.00
4   DB-2750      David        Blough  ...      43.48     3.46000       11.88
5   DH-1912     Dwayne       Haskins  ...      79.70     0.00000        0.00
6   DH-3450     Devlin        Hodges  ...      50.62     3.27000        1.70
7   DJ-2275     Daniel         Jones  ...     203.34     0.00000       14.64
8   DL-1787       Drew          Lock  ...      56.02     0.00000       11.98
9   GM-1350    Gardner       Minshew  ...     207.74    14.51500       24.50
10  JS-6787    Jarrett       Stidham  ...      -1.64    -0.10250        0.00
11  KM-3500      Kyler        Murray  ...     275.28    18.01750       13.00
12  RF-0450       Ryan        Finley  ...      24.66     1.54125        0.00
13  TM-2362      Trace      McSorley  ...       0.00     0.00625        0.10
14  WG-0750       Will         Grier  ...       4.66     0.08250       -3.34
15  AB-1125     Andrew          Beck  ...       8.74     0.97125        6.80
16  AI-0050       Alec        Ingold  ...      12.10     0.75625        0.00
17  AM-0825  Alexander      Mattison  ...      58.40     0.00000        0.00
18  BS-2950      Benny     Snell Jr.  ...      39.80     3.43125       15.10
19  CG-1015     Cullen     Gillaspia  ...       0.00     0.00000        0.00
20  DH-1362     Damien        Harris  ...       1.20     0.07500        0.00
21  DH-2325    Darrell     Henderson  ...      18.40     0.00000        0.00
22  DJ-0887   D'Ernest       Johnson  ...       9.20     0.57500        0.00
23  DM-2787      David    Montgomery  ...     128.10     9.08750       17.30
24  DO-0600     Devine        Ozigbo  ...       0.00     0.31250        5.00
25  DS-2177      Devin    Singletary  ...     118.90     0.00000        0.00
26  DT-1231     Darwin      Thompson  ...      21.80     1.44375        1.30
27  DW-3906     Dexter      Williams  ...       0.20     0.06875        0.90
28  JH-4085    Justice          Hill  ...      30.60     2.59375       10.90
29  JH-4250   Jonathan      Hilliman  ...       5.20     0.32500        0.00
30  JJ-0587       Josh        Jacobs  ...     171.60     0.00000        0.00
31  JJ-2518      Jakob       Johnson  ...       0.50     0.00000        0.00
32  JS-0825     Jordan      Scarlett  ...       0.90     0.00000        0.00
33  KB-1225      Khari    Blasingame  ...       4.70     0.33750        0.70
34  KW-0922    Kerrith     Whyte Jr.  ...      13.00     0.81875        0.10
35  MG-0293      Myles        Gaskin  ...      24.40     0.00000        0.00
36  MS-0125      Miles       Sanders  ...     165.60    10.66875        5.10
37  PL-0012    Patrick         Laird  ...      38.30     2.82500        6.90
38  QO-0200     Qadree       Ollison  ...      28.80     1.85625        0.90
39  RA-1337    Ryquell      Armstead  ...      22.70     2.32500       14.50
40  TB-2775       Tony  Brooks-James  ...       2.70     0.16875        0.00
41  TH-2337     Travis         Homer  ...       7.80     1.06250        9.20
42  TJ-2275         Ty       Johnson  ...      29.70     2.26250        6.50
43  TP-1650       Tony       Pollard  ...      69.70     4.76250        6.50
44  TW-1325     Trevon         Wesco  ...       4.90     0.30625        0.00
45  WH-0762        Wes         Hills  ...      14.20     0.88750        0.00
46  CJ-2075    Charles         Jones  ...       0.00     0.03125        0.50
47  DK-0950     Dawson          Knox  ...      51.70     3.23125        0.00
48  DS-0050       Drew        Sample  ...       3.00     0.00000        0.00
49  FM-0675     Foster        Moreau  ...      47.40     0.00000        0.00

[50 rows x 8 columns]

In [0]:
week_pred = 'week' + str(week) + '-pred'
week_act = 'week' + str(week) + '-act'
week_diff = 'week' + str(week) + '-diff'
week_pct = 'week' + str(week) + '-pct'

In [0]:
# The final_df dataframe
final_df[week_diff] = final_df[week_pred] - final_df[week_act]
final_df[week_pct] = final_df[week_diff] / final_df[week_pred]
final_df[week_pred] = final_df[week_pred].astype(int)

In [14]:
# Calculate the metrics
pred_median_error = final_df[week_pct].median()

print('Median Error - %.4f%%' % (pred_median_error * 100))

Median Error - 23.9610%

In [15]:
final_df.head(50)

     player      first          last  ... week17-act week17-diff  week17-pct
0   MG-0306       Matt           Gay  ...       1.00     7.75000    0.885714
1   CM-2137      Chase    McLaughlin  ...       0.00     5.43750    1.000000
2   AS-0575     Austin       Seibert  ...       6.00     1.00000    0.142857
3   JS-3825       Joey          Slye  ...       4.00     3.75000    0.483871
4   DB-2750      David        Blough  ...      11.88    -8.42000   -2.433526
5   DH-1912     Dwayne       Haskins  ...       0.00     0.00000         NaN
6   DH-3450     Devlin        Hodges  ...       1.70     1.57000    0.480122
7   DJ-2275     Daniel         Jones  ...      14.64   -14.64000        -inf
8   DL-1787       Drew          Lock  ...      11.98   -11.98000        -inf
9   GM-1350    Gardner       Minshew  ...      24.50    -9.98500   -0.687909
10  JS-6787    Jarrett       Stidham  ...       0.00    -0.10250    1.000000
11  KM-3500      Kyler        Murray  ...      13.00     5.01750    0.278479
12  RF-0450       Ryan        Finley  ...       0.00     1.54125    1.000000
13  TM-2362      Trace      McSorley  ...       0.10    -0.09375  -15.000000
14  WG-0750       Will         Grier  ...      -3.34     3.42250   41.484848
15  AB-1125     Andrew          Beck  ...       6.80    -5.82875   -6.001287
16  AI-0050       Alec        Ingold  ...       0.00     0.75625    1.000000
17  AM-0825  Alexander      Mattison  ...       0.00     0.00000         NaN
18  BS-2950      Benny     Snell Jr.  ...      15.10   -11.66875   -3.400729
19  CG-1015     Cullen     Gillaspia  ...       0.00     0.00000         NaN
20  DH-1362     Damien        Harris  ...       0.00     0.07500    1.000000
21  DH-2325    Darrell     Henderson  ...       0.00     0.00000         NaN
22  DJ-0887   D'Ernest       Johnson  ...       0.00     0.57500    1.000000
23  DM-2787      David    Montgomery  ...      17.30    -8.21250   -0.903714
24  DO-0600     Devine        Ozigbo  ...       5.00    -4.68750  -15.000000
25  DS-2177      Devin    Singletary  ...       0.00     0.00000         NaN
26  DT-1231     Darwin      Thompson  ...       1.30     0.14375    0.099567
27  DW-3906     Dexter      Williams  ...       0.90    -0.83125  -12.090909
28  JH-4085    Justice          Hill  ...      10.90    -8.30625   -3.202410
29  JH-4250   Jonathan      Hilliman  ...       0.00     0.32500    1.000000
30  JJ-0587       Josh        Jacobs  ...       0.00     0.00000         NaN
31  JJ-2518      Jakob       Johnson  ...       0.00     0.00000         NaN
32  JS-0825     Jordan      Scarlett  ...       0.00     0.00000         NaN
33  KB-1225      Khari    Blasingame  ...       0.70    -0.36250   -1.074074
34  KW-0922    Kerrith     Whyte Jr.  ...       0.10     0.71875    0.877863
35  MG-0293      Myles        Gaskin  ...       0.00     0.00000         NaN
36  MS-0125      Miles       Sanders  ...       5.10     5.56875    0.521968
37  PL-0012    Patrick         Laird  ...       6.90    -4.07500   -1.442478
38  QO-0200     Qadree       Ollison  ...       0.90     0.95625    0.515152
39  RA-1337    Ryquell      Armstead  ...      14.50   -12.17500   -5.236559
40  TB-2775       Tony  Brooks-James  ...       0.00     0.16875    1.000000
41  TH-2337     Travis         Homer  ...       9.20    -8.13750   -7.658824
42  TJ-2275         Ty       Johnson  ...       6.50    -4.23750   -1.872928
43  TP-1650       Tony       Pollard  ...       6.50    -1.73750   -0.364829
44  TW-1325     Trevon         Wesco  ...       0.00     0.30625    1.000000
45  WH-0762        Wes         Hills  ...       0.00     0.88750    1.000000
46  CJ-2075    Charles         Jones  ...       0.50    -0.46875  -15.000000
47  DK-0950     Dawson          Knox  ...       0.00     3.23125    1.000000
48  DS-0050       Drew        Sample  ...       0.00     0.00000         NaN
49  FM-0675     Foster        Moreau  ...       0.00     0.00000         NaN

[50 rows x 10 columns]

In [0]:
# Save the results to .csv file
file_name = '/content/week' + str(week) + '-pred-offense-rookies.csv'
final_df.to_csv(file_name, index=False)