<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Rookie_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/injury.csv')
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [3]:
# The dataframe of all 2019 players
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [4]:
# The dataframe for all 2019 rookies
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [5]:
# The dataframe of 2019 actual points for each 2019 rookie
actuals2019_df.head()

    player   first        last  ... game14 game15  game16
0  MG-0306    Matt         Gay  ...    9.0  10.00    1.00
1  CM-2137   Chase  McLaughlin  ...    0.0   0.00    0.00
2  AS-0575  Austin     Seibert  ...    7.0   3.00    6.00
3  JS-3825    Joey        Slye  ...    8.0   8.00    4.00
4  DB-2750   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [6]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [7]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each team
def add_row(df, p, f, l, n, pos, wp, wa, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(rookie) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position', 
                    week_pname,
                    week_aname
                     ]

    player_list = rookies_df['player'].tolist()
    row = 0
    col = 4 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = rookies_df['first'].loc[(rookies_df['player']==player)].iloc[0]
        last = rookies_df['last'].loc[(rookies_df['player']==player)].iloc[0]
        name = rookies_df['name'].loc[(rookies_df['player']==player)].iloc[0]
        position1 = rookies_df['position1'].loc[(rookies_df['player']==player)].iloc[0]
        team = player_df['cteam'].loc[(player_df['player']==player)].iloc[0]

        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if w > bye_week:
            new_col = col - 1
        else:
            new_col = col

        act_points = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, new_col:21].sum()
        row = row + 1
    
        # Forecast
        if w > bye_week:
            n_periods = 17 - w + 1
        else:
            n_periods = 17 - w

        end_col = 5 + w - 1
        act_avg = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, 5:end_col].mean()
        if (injury_week <= w):
            pred_points = 0
        else:
            pred_points = n_periods * act_avg

        week_df = add_row(week_df, player, first, last, name, position1, week_pname, week_aname, pred_points, act_points)
    return week_df

In [0]:
week = 14
final_df = main(week)

In [11]:
final_df.head(50)

     player      first          last  ... position week14-pred  week14-act
0   MG-0306       Matt           Gay  ...        K   36.923077       29.00
1   CM-2137      Chase    McLaughlin  ...        K   26.769231        0.00
2   AS-0575     Austin       Seibert  ...        K   29.538462       27.00
3   JS-3825       Joey          Slye  ...        K   32.000000       30.00
4   DB-2750      David        Blough  ...       QB    8.153846       37.06
5   DH-1912     Dwayne       Haskins  ...       QB   13.950769       43.06
6   DH-3450     Devlin        Hodges  ...       QB   14.393846       19.02
7   DJ-2275     Daniel         Jones  ...       QB    0.000000       49.92
8   DL-1787       Drew          Lock  ...       QB    0.000000       55.14
9   GM-1350    Gardner       Minshew  ...       QB   53.280000       72.66
10  JS-6787    Jarrett       Stidham  ...       QB   -0.504615        0.00
11  KM-3500      Kyler        Murray  ...       QB   75.753846       52.04
12  RF-0450       Ryan        Finley  ...       QB    7.587692        0.00
13  TM-2362      Trace      McSorley  ...       QB    0.000000        0.10
14  WG-0750       Will         Grier  ...       QB    0.000000        1.32
15  AB-1125     Andrew          Beck  ...       RB    2.092308       11.64
16  AI-0050       Alec        Ingold  ...       RB    3.046154        2.10
17  AM-0825  Alexander      Mattison  ...       RB   17.969231        6.40
18  BS-2950      Benny     Snell Jr.  ...       RB   11.784615       18.70
19  CG-1015     Cullen     Gillaspia  ...       RB    0.000000        0.00
20  DH-1362     Damien        Harris  ...       RB    0.369231        0.00
21  DH-2325    Darrell     Henderson  ...       RB    5.446154        0.70
22  DJ-0887   D'Ernest       Johnson  ...       RB    2.830769        0.00
23  DM-2787      David    Montgomery  ...       RB   36.092308       34.70
24  DO-0600     Devine        Ozigbo  ...       RB    0.000000        5.00
25  DS-2177      Devin    Singletary  ...       RB    0.000000       23.50
26  DT-1231     Darwin      Thompson  ...       RB    5.076923       10.90
27  DW-3906     Dexter      Williams  ...       RB    0.061538        0.90
28  JH-4085    Justice          Hill  ...       RB    5.538462       24.30
29  JH-4250   Jonathan      Hilliman  ...       RB    1.600000        0.00
30  JJ-0587       Josh        Jacobs  ...       RB   49.446154       10.90
31  JJ-2518      Jakob       Johnson  ...       RB    0.000000        0.00
32  JS-0825     Jordan      Scarlett  ...       RB    0.000000        0.00
33  KB-1225      Khari    Blasingame  ...       RB    1.446154        5.40
34  KW-0922    Kerrith     Whyte Jr.  ...       RB    3.169231        7.80
35  MG-0293      Myles        Gaskin  ...       RB    1.661538       20.10
36  MS-0125      Miles       Sanders  ...       RB   35.323077       62.80
37  PL-0012    Patrick         Laird  ...       RB    9.569231       22.70
38  QO-0200     Qadree       Ollison  ...       RB    5.046154       13.90
39  RA-1337    Ryquell      Armstead  ...       RB    6.892308       15.50
40  TB-2775       Tony  Brooks-James  ...       RB    0.830769        0.00
41  TH-2337     Travis         Homer  ...       RB    0.892308       14.10
42  TJ-2275         Ty       Johnson  ...       RB    8.523077        9.50
43  TP-1650       Tony       Pollard  ...       RB   15.200000       26.80
44  TW-1325     Trevon         Wesco  ...       RB    0.523077        3.20
45  WH-0762        Wes         Hills  ...       RB    0.000000       14.20
46  CJ-2075    Charles         Jones  ...       TE    0.000000        0.50
47  DK-0950     Dawson          Knox  ...       TE   14.553846        8.10
48  DS-0050       Drew        Sample  ...       TE    0.000000        0.00
49  FM-0675     Foster        Moreau  ...       TE   14.584615        7.40

[50 rows x 7 columns]

In [0]:
week_pred = 'week' + str(week) + '-pred'
week_act = 'week' + str(week) + '-act'
week_diff = 'week' + str(week) + '-diff'
week_pct = 'week' + str(week) + '-pct'

In [0]:
# The final_df dataframe
final_df[week_diff] = final_df[week_pred] - final_df[week_act]
final_df[week_pct] = final_df[week_diff] / final_df[week_pred]
final_df[week_pred] = final_df[week_pred].astype(int)

In [14]:
# Calculate the metrics
pred_median_error = final_df[week_pct].median()

print('Median Error - %.4f%%' % (pred_median_error * 100))

Median Error - -83.9433%

In [15]:
final_df.head(50)

     player      first          last  ... week14-act week14-diff  week14-pct
0   MG-0306       Matt           Gay  ...      29.00    7.923077    0.214583
1   CM-2137      Chase    McLaughlin  ...       0.00   26.769231    1.000000
2   AS-0575     Austin       Seibert  ...      27.00    2.538462    0.085938
3   JS-3825       Joey          Slye  ...      30.00    2.000000    0.062500
4   DB-2750      David        Blough  ...      37.06  -28.906154   -3.545094
5   DH-1912     Dwayne       Haskins  ...      43.06  -29.109231   -2.086568
6   DH-3450     Devlin        Hodges  ...      19.02   -4.626154   -0.321398
7   DJ-2275     Daniel         Jones  ...      49.92  -49.920000        -inf
8   DL-1787       Drew          Lock  ...      55.14  -55.140000        -inf
9   GM-1350    Gardner       Minshew  ...      72.66  -19.380000   -0.363739
10  JS-6787    Jarrett       Stidham  ...       0.00   -0.504615    1.000000
11  KM-3500      Kyler        Murray  ...      52.04   23.713846    0.313038
12  RF-0450       Ryan        Finley  ...       0.00    7.587692    1.000000
13  TM-2362      Trace      McSorley  ...       0.10   -0.100000        -inf
14  WG-0750       Will         Grier  ...       1.32   -1.320000        -inf
15  AB-1125     Andrew          Beck  ...      11.64   -9.547692   -4.563235
16  AI-0050       Alec        Ingold  ...       2.10    0.946154    0.310606
17  AM-0825  Alexander      Mattison  ...       6.40   11.569231    0.643836
18  BS-2950      Benny     Snell Jr.  ...      18.70   -6.915385   -0.586815
19  CG-1015     Cullen     Gillaspia  ...       0.00    0.000000         NaN
20  DH-1362     Damien        Harris  ...       0.00    0.369231    1.000000
21  DH-2325    Darrell     Henderson  ...       0.70    4.746154    0.871469
22  DJ-0887   D'Ernest       Johnson  ...       0.00    2.830769    1.000000
23  DM-2787      David    Montgomery  ...      34.70    1.392308    0.038576
24  DO-0600     Devine        Ozigbo  ...       5.00   -5.000000        -inf
25  DS-2177      Devin    Singletary  ...      23.50  -23.500000        -inf
26  DT-1231     Darwin      Thompson  ...      10.90   -5.823077   -1.146970
27  DW-3906     Dexter      Williams  ...       0.90   -0.838462  -13.625000
28  JH-4085    Justice          Hill  ...      24.30  -18.761538   -3.387500
29  JH-4250   Jonathan      Hilliman  ...       0.00    1.600000    1.000000
30  JJ-0587       Josh        Jacobs  ...      10.90   38.546154    0.779558
31  JJ-2518      Jakob       Johnson  ...       0.00    0.000000         NaN
32  JS-0825     Jordan      Scarlett  ...       0.00    0.000000         NaN
33  KB-1225      Khari    Blasingame  ...       5.40   -3.953846   -2.734043
34  KW-0922    Kerrith     Whyte Jr.  ...       7.80   -4.630769   -1.461165
35  MG-0293      Myles        Gaskin  ...      20.10  -18.438462  -11.097222
36  MS-0125      Miles       Sanders  ...      62.80  -27.476923   -0.777875
37  PL-0012    Patrick         Laird  ...      22.70  -13.130769   -1.372186
38  QO-0200     Qadree       Ollison  ...      13.90   -8.853846   -1.754573
39  RA-1337    Ryquell      Armstead  ...      15.50   -8.607692   -1.248884
40  TB-2775       Tony  Brooks-James  ...       0.00    0.830769    1.000000
41  TH-2337     Travis         Homer  ...      14.10  -13.207692  -14.801724
42  TJ-2275         Ty       Johnson  ...       9.50   -0.976923   -0.114621
43  TP-1650       Tony       Pollard  ...      26.80  -11.600000   -0.763158
44  TW-1325     Trevon         Wesco  ...       3.20   -2.676923   -5.117647
45  WH-0762        Wes         Hills  ...      14.20  -14.200000        -inf
46  CJ-2075    Charles         Jones  ...       0.50   -0.500000        -inf
47  DK-0950     Dawson          Knox  ...       8.10    6.453846    0.443446
48  DS-0050       Drew        Sample  ...       0.00    0.000000         NaN
49  FM-0675     Foster        Moreau  ...       7.40    7.184615    0.492616

[50 rows x 9 columns]