<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Rookie_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/injury.csv')
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [3]:
# The dataframe of all 2019 players
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [4]:
# The dataframe for all 2019 rookies
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [5]:
# The dataframe of 2019 actual points for each 2019 rookie
actuals2019_df.head()

    player   first        last  ... game14 game15  game16
0  MG-0306    Matt         Gay  ...    9.0  10.00    1.00
1  CM-2137   Chase  McLaughlin  ...    0.0   0.00    0.00
2  AS-0575  Austin     Seibert  ...    7.0   3.00    6.00
3  JS-3825    Joey        Slye  ...    8.0   8.00    4.00
4  DB-2750   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [6]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [7]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each team
def add_row(df, p, f, l, n, pos, wc, wp, wa, cur, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wc: cur,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(rookie) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_cname = 'week' + str(w) + '-cur'
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position',
                    week_cname, 
                    week_pname,
                    week_aname
                     ]

    player_list = rookies_df['player'].tolist()
    row = 0
    col = 4 + w
    cur_col = 4 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = rookies_df['first'].loc[(rookies_df['player']==player)].iloc[0]
        last = rookies_df['last'].loc[(rookies_df['player']==player)].iloc[0]
        name = rookies_df['name'].loc[(rookies_df['player']==player)].iloc[0]
        position1 = rookies_df['position1'].loc[(rookies_df['player']==player)].iloc[0]
        team = player_df['cteam'].loc[(player_df['player']==player)].iloc[0]

        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if w > bye_week:
            new_col = col - 1
        else:
            new_col = col

        current = actuals2019_df.iloc[row, 5:cur_col]
        cur_points = current.sum()

        act_points = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, new_col:21].sum()
        row = row + 1
    
        # Forecast
        if w > bye_week:
            n_periods = 17 - w + 1
        else:
            n_periods = 17 - w

        end_col = 5 + w - 1
        act_avg = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, 5:end_col].mean()
        if (injury_week <= w):
            pred_points = 0
        else:
            pred_points = n_periods * act_avg

        week_df = add_row(week_df, player, first, last, name, position1, week_cname, 
                          week_pname, week_aname, cur_points, pred_points, act_points)
    return week_df

In [0]:
week = 2
final_df = main(week)

In [11]:
final_df.head(50)

     player      first          last  ... week2-cur week2-pred  week2-act
0   MG-0306       Matt           Gay  ...      5.00       75.0     135.00
1   CM-2137      Chase    McLaughlin  ...      8.00      120.0      79.00
2   AS-0575     Austin       Seibert  ...      1.00       15.0     111.00
3   JS-3825       Joey          Slye  ...     11.00      165.0     113.00
4   DB-2750      David        Blough  ...      0.00        0.0      55.36
5   DH-1912     Dwayne       Haskins  ...      0.00        0.0      79.70
6   DH-3450     Devlin        Hodges  ...      0.00        0.0      52.32
7   DJ-2275     Daniel         Jones  ...     -0.82      -12.3     218.80
8   DL-1787       Drew          Lock  ...      0.00        0.0      68.00
9   GM-1350    Gardner       Minshew  ...     17.60      264.0     214.64
10  JS-6787    Jarrett       Stidham  ...      0.00        0.0      -1.64
11  KM-3500      Kyler        Murray  ...     21.62      324.3     266.66
12  RF-0450       Ryan        Finley  ...      0.00        0.0      24.66
13  TM-2362      Trace      McSorley  ...      0.00        0.0       0.10
14  WG-0750       Will         Grier  ...      0.00        0.0       1.32
15  AB-1125     Andrew          Beck  ...      0.00        0.0      15.54
16  AI-0050       Alec        Ingold  ...      0.00        0.0      12.10
17  AM-0825  Alexander      Mattison  ...      4.90       73.5      53.50
18  BS-2950      Benny     Snell Jr.  ...      0.00        0.0      54.90
19  CG-1015     Cullen     Gillaspia  ...      0.00        0.0       0.00
20  DH-1362     Damien        Harris  ...      0.00        0.0       1.20
21  DH-2325    Darrell     Henderson  ...      0.00        0.0      18.40
22  DJ-0887   D'Ernest       Johnson  ...      3.60       54.0       5.60
23  DM-2787      David    Montgomery  ...      4.50       67.5     140.90
24  DO-0600     Devine        Ozigbo  ...      0.00        0.0       5.00
25  DS-2177      Devin    Singletary  ...      9.80      147.0     109.10
26  DT-1231     Darwin      Thompson  ...      0.30        4.5      22.80
27  DW-3906     Dexter      Williams  ...      0.00        0.0       1.10
28  JH-4085    Justice          Hill  ...      2.70       40.5      38.80
29  JH-4250   Jonathan      Hilliman  ...      0.00        0.0       5.20
30  JJ-0587       Josh        Jacobs  ...     23.30      349.5     148.30
31  JJ-2518      Jakob       Johnson  ...      0.00        0.0       0.50
32  JS-0825     Jordan      Scarlett  ...      0.00        0.0       0.90
33  KB-1225      Khari    Blasingame  ...      0.00        0.0       5.40
34  KW-0922    Kerrith     Whyte Jr.  ...      0.00        0.0      13.10
35  MG-0293      Myles        Gaskin  ...      0.00        0.0      24.40
36  MS-0125      Miles       Sanders  ...      2.70       40.5     168.00
37  PL-0012    Patrick         Laird  ...      0.00        0.0      45.20
38  QO-0200     Qadree       Ollison  ...      0.00        0.0      29.70
39  RA-1337    Ryquell      Armstead  ...      0.70       10.5      36.50
40  TB-2775       Tony  Brooks-James  ...      0.00        0.0       2.70
41  TH-2337     Travis         Homer  ...      0.00        0.0      17.00
42  TJ-2275         Ty       Johnson  ...      0.60        9.0      35.60
43  TP-1650       Tony       Pollard  ...      2.40       36.0      73.80
44  TW-1325     Trevon         Wesco  ...      0.00        0.0       4.90
45  WH-0762        Wes         Hills  ...      0.00        0.0      14.20
46  CJ-2075    Charles         Jones  ...      0.00        0.0       0.50
47  DK-0950     Dawson          Knox  ...      0.10        1.5      51.60
48  DS-0050       Drew        Sample  ...      0.00        0.0       3.00
49  FM-0675     Foster        Moreau  ...      2.00       30.0      45.40

[50 rows x 8 columns]

In [0]:
week_pred = 'week' + str(week) + '-pred'
week_act = 'week' + str(week) + '-act'
week_diff = 'week' + str(week) + '-diff'
week_pct = 'week' + str(week) + '-pct'

In [0]:
# The final_df dataframe
final_df[week_diff] = final_df[week_pred] - final_df[week_act]
final_df[week_pct] = final_df[week_diff] / final_df[week_pred]
final_df[week_pred] = final_df[week_pred].astype(int)

In [14]:
# Calculate the metrics
pred_median_error = final_df[week_pct].median()

print('Median Error - %.4f%%' % (pred_median_error * 100))

Median Error - -inf%

In [15]:
final_df.head(50)

     player      first          last  ... week2-act week2-diff  week2-pct
0   MG-0306       Matt           Gay  ...    135.00     -60.00  -0.800000
1   CM-2137      Chase    McLaughlin  ...     79.00      41.00   0.341667
2   AS-0575     Austin       Seibert  ...    111.00     -96.00  -6.400000
3   JS-3825       Joey          Slye  ...    113.00      52.00   0.315152
4   DB-2750      David        Blough  ...     55.36     -55.36       -inf
5   DH-1912     Dwayne       Haskins  ...     79.70     -79.70       -inf
6   DH-3450     Devlin        Hodges  ...     52.32     -52.32       -inf
7   DJ-2275     Daniel         Jones  ...    218.80    -231.10  18.788618
8   DL-1787       Drew          Lock  ...     68.00     -68.00       -inf
9   GM-1350    Gardner       Minshew  ...    214.64      49.36   0.186970
10  JS-6787    Jarrett       Stidham  ...     -1.64       1.64        inf
11  KM-3500      Kyler        Murray  ...    266.66      57.64   0.177737
12  RF-0450       Ryan        Finley  ...     24.66     -24.66       -inf
13  TM-2362      Trace      McSorley  ...      0.10      -0.10       -inf
14  WG-0750       Will         Grier  ...      1.32      -1.32       -inf
15  AB-1125     Andrew          Beck  ...     15.54     -15.54       -inf
16  AI-0050       Alec        Ingold  ...     12.10     -12.10       -inf
17  AM-0825  Alexander      Mattison  ...     53.50      20.00   0.272109
18  BS-2950      Benny     Snell Jr.  ...     54.90     -54.90       -inf
19  CG-1015     Cullen     Gillaspia  ...      0.00       0.00        NaN
20  DH-1362     Damien        Harris  ...      1.20      -1.20       -inf
21  DH-2325    Darrell     Henderson  ...     18.40     -18.40       -inf
22  DJ-0887   D'Ernest       Johnson  ...      5.60      48.40   0.896296
23  DM-2787      David    Montgomery  ...    140.90     -73.40  -1.087407
24  DO-0600     Devine        Ozigbo  ...      5.00      -5.00       -inf
25  DS-2177      Devin    Singletary  ...    109.10      37.90   0.257823
26  DT-1231     Darwin      Thompson  ...     22.80     -18.30  -4.066667
27  DW-3906     Dexter      Williams  ...      1.10      -1.10       -inf
28  JH-4085    Justice          Hill  ...     38.80       1.70   0.041975
29  JH-4250   Jonathan      Hilliman  ...      5.20      -5.20       -inf
30  JJ-0587       Josh        Jacobs  ...    148.30     201.20   0.575680
31  JJ-2518      Jakob       Johnson  ...      0.50      -0.50       -inf
32  JS-0825     Jordan      Scarlett  ...      0.90      -0.90       -inf
33  KB-1225      Khari    Blasingame  ...      5.40      -5.40       -inf
34  KW-0922    Kerrith     Whyte Jr.  ...     13.10     -13.10       -inf
35  MG-0293      Myles        Gaskin  ...     24.40     -24.40       -inf
36  MS-0125      Miles       Sanders  ...    168.00    -127.50  -3.148148
37  PL-0012    Patrick         Laird  ...     45.20     -45.20       -inf
38  QO-0200     Qadree       Ollison  ...     29.70     -29.70       -inf
39  RA-1337    Ryquell      Armstead  ...     36.50     -26.00  -2.476190
40  TB-2775       Tony  Brooks-James  ...      2.70      -2.70       -inf
41  TH-2337     Travis         Homer  ...     17.00     -17.00       -inf
42  TJ-2275         Ty       Johnson  ...     35.60     -26.60  -2.955556
43  TP-1650       Tony       Pollard  ...     73.80     -37.80  -1.050000
44  TW-1325     Trevon         Wesco  ...      4.90      -4.90       -inf
45  WH-0762        Wes         Hills  ...     14.20     -14.20       -inf
46  CJ-2075    Charles         Jones  ...      0.50      -0.50       -inf
47  DK-0950     Dawson          Knox  ...     51.60     -50.10 -33.400000
48  DS-0050       Drew        Sample  ...      3.00      -3.00       -inf
49  FM-0675     Foster        Moreau  ...     45.40     -15.40  -0.513333

[50 rows x 10 columns]

In [0]:
# Save the results to .csv file
file_name = '/content/week' + str(week) + '-pred-offense-rookies.csv'
final_df.to_csv(file_name, index=False)