<a href="https://colab.research.google.com/github/JimKing100/nfl-test/blob/master/predictions-final/Rookie_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/players_full.csv')
kickers2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_kickers.csv')
offense2019_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-actuals/actuals_rookie2019_offense.csv')
rookies_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/rookies.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/nfl-test/master/data-revised/bye.csv')
actuals2019_df = pd.concat([kickers2019_df, offense2019_df], ignore_index=True)

In [10]:
# The dataframe of all 2019 players
player_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [11]:
# The dataframe for all 2019 rookies
rookies_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [12]:
# The dataframe of 2019 actual points for each 2019 rookie
actuals2019_df.head()

    player   first        last  ... game14 game15  game16
0  MG-0306    Matt         Gay  ...    9.0  10.00    1.00
1  CM-2137   Chase  McLaughlin  ...    0.0   0.00    0.00
2  AS-0575  Austin     Seibert  ...    7.0   3.00    6.00
3  JS-3825    Joey        Slye  ...    8.0   8.00    4.00
4  DB-2750   David      Blough  ...    8.3   8.68   11.88

[5 rows x 21 columns]

In [13]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each team
def add_row(df, p, f, l, n, pos, wp, wa, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(rookie) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position', 
                    week_pname,
                    week_aname
                     ]

    player_list = rookies_df['player'].tolist()
    row = 0
    col = 4 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = rookies_df['first'].loc[(rookies_df['player']==player)].iloc[0]
        last = rookies_df['last'].loc[(rookies_df['player']==player)].iloc[0]
        name = rookies_df['name'].loc[(rookies_df['player']==player)].iloc[0]
        position1 = rookies_df['position1'].loc[(rookies_df['player']==player)].iloc[0]
        team = player_df['cteam'].loc[(player_df['player']==player)].iloc[0]

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        if w > bye_week:
            new_col = col - 1
        else:
            new_col = col

        act_points = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, new_col:21].sum()
        row = row + 1
    
        # Forecast
        if w > bye_week:
            n_periods = 17 - w + 1
        else:
            n_periods = 17 - w

        end_col = 5 + w - 1
        act_avg = actuals2019_df.loc[(actuals2019_df['player']==player)].iloc[0, 5:end_col].mean()
        pred_points = n_periods * act_avg

        week_df = add_row(week_df, player, first, last, name, position1, week_pname, week_aname, pred_points, act_points)
    return week_df

In [0]:
week = 8
final_df = main(week)

In [53]:
final_df.head(50)

     player      first          last  ... position  week8-pred  week8-act
0   MG-0306       Matt           Gay  ...        K   94.285714      84.00
1   CM-2137      Chase    McLaughlin  ...        K   84.285714      42.00
2   AS-0575     Austin       Seibert  ...        K   64.285714      75.00
3   JS-3825       Joey          Slye  ...        K   97.142857      60.00
4   DB-2750      David        Blough  ...       QB    0.000000      55.36
5   DH-1912     Dwayne       Haskins  ...       QB    0.745714      79.12
6   DH-3450     Devlin        Hodges  ...       QB   18.285714      39.52
7   DJ-2275     Daniel         Jones  ...       QB   94.962857     144.12
8   DL-1787       Drew          Lock  ...       QB    0.000000      68.00
9   GM-1350    Gardner       Minshew  ...       QB  149.374286     116.06
10  JS-6787    Jarrett       Stidham  ...       QB   -2.108571       0.00
11  KM-3500      Kyler        Murray  ...       QB  172.697143     153.96
12  RF-0450       Ryan        Finley  ...       QB    0.000000      24.66
13  TM-2362      Trace      McSorley  ...       QB    0.000000       0.10
14  WG-0750       Will         Grier  ...       QB    0.000000       1.32
15  AB-1125     Andrew          Beck  ...       RB    1.285714      14.54
16  AI-0050       Alec        Ingold  ...       RB    0.857143      11.70
17  AM-0825  Alexander      Mattison  ...       RB   40.885714      26.60
18  BS-2950      Benny     Snell Jr.  ...       RB   18.857143      43.00
19  CG-1015     Cullen     Gillaspia  ...       RB    0.000000       0.00
20  DH-1362     Damien        Harris  ...       RB    1.542857       0.00
21  DH-2325    Darrell     Henderson  ...       RB   11.185714       9.70
22  DJ-0887   D'Ernest       Johnson  ...       RB   13.142857       0.00
23  DM-2787      David    Montgomery  ...       RB   89.000000     103.80
24  DO-0600     Devine        Ozigbo  ...       RB    0.000000       5.00
25  DS-2177      Devin    Singletary  ...       RB   50.000000      94.80
26  DT-1231     Darwin      Thompson  ...       RB    1.542857      21.90
27  DW-3906     Dexter      Williams  ...       RB    0.257143       0.90
28  JH-4085    Justice          Hill  ...       RB   12.471429      31.80
29  JH-4250   Jonathan      Hilliman  ...       RB    6.685714       0.00
30  JJ-0587       Josh        Jacobs  ...       RB  137.428571      83.50
31  JJ-2518      Jakob       Johnson  ...       RB    0.642857       0.00
32  JS-0825     Jordan      Scarlett  ...       RB    1.285714       0.90
33  KB-1225      Khari    Blasingame  ...       RB    0.000000       5.40
34  KW-0922    Kerrith     Whyte Jr.  ...       RB    0.000000      13.10
35  MG-0293      Myles        Gaskin  ...       RB    0.000000      24.40
36  MS-0125      Miles       Sanders  ...       RB   63.000000     121.70
37  PL-0012    Patrick         Laird  ...       RB    0.000000      45.20
38  QO-0200     Qadree       Ollison  ...       RB    0.000000      29.70
39  RA-1337    Ryquell      Armstead  ...       RB   16.200000      24.60
40  TB-2775       Tony  Brooks-James  ...       RB    0.000000       2.70
41  TH-2337     Travis         Homer  ...       RB    0.000000      17.00
42  TJ-2275         Ty       Johnson  ...       RB   22.285714      24.40
43  TP-1650       Tony       Pollard  ...       RB   38.185714      46.50
44  TW-1325     Trevon         Wesco  ...       RB    0.000000       4.90
45  WH-0762        Wes         Hills  ...       RB    0.000000      14.20
46  CJ-2075    Charles         Jones  ...       TE    0.000000       0.50
47  DK-0950     Dawson          Knox  ...       TE   35.285714      27.00
48  DS-0050       Drew        Sample  ...       TE    3.471429       0.30
49  FM-0675     Foster        Moreau  ...       TE   35.857143      23.30

[50 rows x 7 columns]

In [0]:
week_pred = 'week' + str(week) + '-pred'
week_act = 'week' + str(week) + '-act'
week_diff = 'week' + str(week) + '-diff'
week_pct = 'week' + str(week) + '-pct'

In [0]:
# Calculate the metrics
pred_median_error = final_df[week_pct].median()

print('Median Error - %.4f%%' % (pred_median_error * 100))

In [0]:
final_df.head(50)