In [0]:
# Imports
import pandas as pd
import numpy as np

In [0]:
# Load the raw data
w1_results_df = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/nfl-fantasy-ds/metrics/data/combined-predictions/predictions-week1.csv')

In [31]:
w1_results_df.head()

    player    first      last  ... rank-cur rank-pred  rank-act
0  JK-2250     Jake   Kumerow  ...    329.0       1.0     322.0
1  TG-1950     Todd    Gurley  ...      7.0       2.0      43.0
2  SB-0212   Saquon   Barkley  ...      9.0       3.0      36.0
3  RW-3850  Russell    Wilson  ...     10.0       4.0       4.0
4  DP-2037      Dak  Prescott  ...     12.0       5.0       3.0

[5 rows x 13 columns]

In [0]:
def percentage_error(actual, predicted):
    res = np.empty(actual.shape)
    for j in range(actual.shape[0]):
        if actual[j] != 0:
            res[j] = (actual[j] - predicted[j]) / actual[j]
        else:
            res[j] = predicted[j] / np.mean(actual)
    return res

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs(percentage_error(np.asarray(y_true), np.asarray(y_pred))))

In [33]:
week1_pred = w1_results_df['week1-pred'].tolist()
week1_act = w1_results_df['week1-act'].tolist()

week1_pa_mape = mean_absolute_percentage_error(week1_act, week1_pred)
print('MAPE week 1 ', week1_pa_mape)

MAPE week 1  4.915610841833626

In [42]:
for i in range(1, 18):

    filename = 'https://raw.githubusercontent.com/Lambda-School-Labs/nfl-fantasy-ds/metrics/data/combined-predictions/predictions-week' + str(i) + '.csv'
    week_pred = 'week' + str(i) + '-pred'
    week_act = 'week' + str(i) + '-act'

    results_df = pd.read_csv(filename)

    week_pred = results_df[week_pred].tolist()
    week_act = results_df[week_act].tolist()

    week_pa_mape = mean_absolute_percentage_error(week_act, week_pred)
    print('MAPE predicted vs actual week {0:2d} {1:3.2f}%'.format(i, week_pa_mape))

MAPE predicted vs actual week  1 4.92%
MAPE predicted vs actual week  2 4.51%
MAPE predicted vs actual week  3 4.36%
MAPE predicted vs actual week  4 3.53%
MAPE predicted vs actual week  5 3.35%
MAPE predicted vs actual week  6 4.67%
MAPE predicted vs actual week  7 2.58%
MAPE predicted vs actual week  8 3.44%
MAPE predicted vs actual week  9 5.60%
MAPE predicted vs actual week 10 5.72%
MAPE predicted vs actual week 11 3.86%
MAPE predicted vs actual week 12 2.99%
MAPE predicted vs actual week 13 2.26%
MAPE predicted vs actual week 14 1.67%
MAPE predicted vs actual week 15 1.32%
MAPE predicted vs actual week 16 1.32%
MAPE predicted vs actual week 17 0.95%

In [43]:
w2_results_df = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/nfl-fantasy-ds/metrics/data/combined-predictions/predictions-week2.csv')
w2_results_df.head()

    player     first      last  ... rank-cur rank-pred  rank-act
0  MB-4075  Marquise     Brown  ...      8.0       1.0     180.0
1  JJ-0587      Josh    Jacobs  ...     22.0       2.0      61.0
2  KM-3500     Kyler    Murray  ...     27.0       3.0      10.0
3  TG-1950      Todd    Gurley  ...     86.0       4.0      42.0
4  TM-2275     Terry  McLaurin  ...     31.0       5.0     104.0

[5 rows x 13 columns]

In [45]:
column_names = ['player',
                'rank-cur',
                'rank-pred',
                'rank-final'
                ]

player_list = w2_results_df['player'].tolist()

rank_df = pd.DataFrame(columns = column_names)

for player in player_list:
    
    rank_cur = w2_results_df['rank-cur'].loc[(w2_results_df['player']==player)].iloc[0]
    rank_pred = w2_results_df['rank-pred'].loc[(w2_results_df['player']==player)].iloc[0]
    rank_final = w1_results_df['rank-act'].loc[(w1_results_df['player']==player)].iloc[0]

    rank_df = rank_df.append({'player': player,
                              'rank-cur': rank_cur,
                              'rank-pred': rank_pred,
                              'rank-final': rank_final
                              }, ignore_index=True)

rank_df.head()

    player  rank-cur  rank-pred  rank-final
0  MB-4075       8.0        1.0       135.0
1  JJ-0587      22.0        2.0        50.0
2  KM-3500      27.0        3.0         9.0
3  TG-1950      86.0        4.0        43.0
4  TM-2275      31.0        5.0        87.0

In [52]:
column_names = ['player',
                'rank-cur',
                'rank-pred',
                'rank-final'
                ]

rank_df = pd.DataFrame(columns = column_names)

for i in range(1, 18):

    filename = 'https://raw.githubusercontent.com/Lambda-School-Labs/nfl-fantasy-ds/metrics/data/combined-predictions/predictions-week' + str(i) + '.csv'

    results_df = pd.read_csv(filename)

    rank_df = rank_df.iloc[0:0]

    player_list = results_df['player'].tolist()

    for player in player_list:
    
        rank_cur = results_df['rank-cur'].loc[(results_df['player']==player)].iloc[0]
        rank_pred = results_df['rank-pred'].loc[(results_df['player']==player)].iloc[0]
        rank_final = w1_results_df['rank-act'].loc[(w1_results_df['player']==player)].iloc[0]

        rank_df = rank_df.append({'player': player,
                                  'rank-cur': rank_cur,
                                  'rank-pred': rank_pred,
                                  'rank-final': rank_final
                                  }, ignore_index=True)

    rank_current = rank_df['rank-cur'].tolist()
    rank_predicted = rank_df['rank-pred'].tolist()
    rank_year = rank_df['rank-final'].tolist()

    rank_ca_mae = mean_absolute_error(rank_year, rank_current)
    print('current vs act rank mae week ', i, ' - ', rank_ca_mae)

    rank_pa_mae = mean_absolute_error(rank_year, rank_predicted)
    print('predicted vs act rank week ', i, ' - ', rank_pa_mae)

current vs act rank mae week  1  -  110.45691056910569
predicted vs act rank week  1  -  107.81626016260162
current vs act rank mae week  2  -  122.4910569105691
predicted vs act rank week  2  -  96.40975609756097
current vs act rank mae week  3  -  103.37235772357724
predicted vs act rank week  3  -  93.73983739837398
current vs act rank mae week  4  -  89.90081300813009
predicted vs act rank week  4  -  91.27317073170731
current vs act rank mae week  5  -  83.17560975609756
predicted vs act rank week  5  -  89.6130081300813
current vs act rank mae week  6  -  77.90569105691057
predicted vs act rank week  6  -  86.92357723577236
current vs act rank mae week  7  -  69.6260162601626
predicted vs act rank week  7  -  87.49918699186992
current vs act rank mae week  8  -  64.30243902439024
predicted vs act rank week  8  -  87.03089430894309
current vs act rank mae week  9  -  59.14959349593496
predicted vs act rank week  9  -  85.8910569105691
current vs act rank mae week  10  -  53.93333333333333
predicted vs act rank week  10  -  84.20650406504065
current vs act rank mae week  11  -  48.43739837398374
predicted vs act rank week  11  -  85.29268292682927
current vs act rank mae week  12  -  42.014634146341464
predicted vs act rank week  12  -  83.97560975609755
current vs act rank mae week  13  -  36.957723577235775
predicted vs act rank week  13  -  84.22764227642277
current vs act rank mae week  14  -  31.01138211382114
predicted vs act rank week  14  -  86.00650406504064
current vs act rank mae week  15  -  24.505691056910567
predicted vs act rank week  15  -  90.52357723577236
current vs act rank mae week  16  -  18.102439024390243
predicted vs act rank week  16  -  93.39024390243902
current vs act rank mae week  17  -  11.36910569105691
predicted vs act rank week  17  -  109.07642276422764